/*------------------------------------*\
    $FIGURES
\*------------------------------------*/

figure {
    a {
        display: block;
        border:none;

        &:hover,
        &:focus {
            border:none;
        }
    }
}

// make sure you give proper recognition to other people’s work!
.cite {

}

figcaption {
    font-style: italic;
    color: $color__meta--dark;
    padding-top: $half-spacing-unit;
    padding-top: calc-rem($half-spacing-unit);
}

.featured--post__image {
    >a {
        border: none;

        &:hover {
            border: none;
        }
    }
}

.figure__hero {
    margin-top: - ($base-spacing-unit * 2);
    margin-top: - calc-rem($base-spacing-unit * 2);
}

.item-list__figure {
    margin-bottom: 0;
}