/*------------------------------------*\
    $FIGURES
\*------------------------------------*/

figure {
    a {
        display: block;
        border:none;

        &:hover,
        &:focus {
            border:none;
        }
    }

    img {
        margin: 0 auto;
    }

    /**
     * Blockqoutes should always reside within a figure
     */
    blockquote {
        margin-bottom:0;
    }

    blockquote + figcaption {
        font-style: normal;
    }
}

    /**
     * make sure to give proper recognition to other people’s work!
     */
    cite,
    .cite {
        display: inline-block;
        font-weight: normal;
    }

figcaption {
    font-style: italic;
    color: $color__meta--dark;
    display:inline-block;

    img + & {
        padding-top: $half-spacing-unit;
        padding-top: calc-rem($half-spacing-unit);
    }

    p {
        display: inline-block;
        margin:0;
        font-weight: bold;
        color: $color__background--black;
    }
}

.featured--post__image {
    >a {
        border: none;

        &:hover {
            border: none;
        }
    }
}


.figure__hero {
    margin-top: - ($base-spacing-unit * 1.2);
    margin-top: - calc-rem($base-spacing-unit * 1.2);

    @include breakpoint($breakpoint__small){
        margin-top: - 40px;
        margin-top: - calc-rem(40px);
    }

    @include breakpoint(560px){
        max-height: 320px;
        max-height: calc-rem(320px);
        overflow: hidden;
    }

    @include breakpoint($breakpoint__large){
        float: left;
        width: 100%;
        margin-top: - ($base-spacing-unit * 3);
        margin-top: - calc-rem($base-spacing-unit * 3);
    }

    >img {
        width: 100%;
    }
}

.figure__hero--full-height {
    max-height: none;
    overflow: none;
}


.figure__hero--article {
    max-height: none;
    overflow: none;

    @include breakpoint($breakpoint__small){
        margin-top: - ($base-spacing-unit * 1.2);
        margin-top: - calc-rem($base-spacing-unit * 1.2);
    }

    @include breakpoint($breakpoint__large) {
        padding-right: 90px;
        padding-right: calc-rem(90px);
        padding-left: $base-spacing-unit;
        padding-left: calc-rem($base-spacing-unit);
        margin-top: 0;
        float: right;
        width: 40%;
    }

    @include breakpoint (700px){
        max-width: 620px;
        max-width: calc-rem(620px);
        margin: 0 auto $base-spacing-unit auto;
        margin: 0 auto calc-rem($base-spacing-unit) auto;
        padding: 0 ($base-spacing-unit * 2);
        padding: 0 calc-rem($base-spacing-unit * 2);
    }

    @include breakpoint(1266px){
        width: 50%;
    }
}

.item-list__figure {
    margin-bottom: 0;
}


.figure__right {
    @include breakpoint($breakpoint__medium) {
        float: right;
        margin-left: $base-spacing-unit;
        margin-left: calc-rem($base-spacing-unit);
        max-width: 49%;
    }
}

.figure__left {
    @include breakpoint($breakpoint__medium) {
        float: left;
        margin-right: $base-spacing-unit;
        margin-right: calc-rem($base-spacing-unit);
        max-width: 50%;
    }
}

.figure__homepage-intro {
    float: left;
    width: 100%;

    @include breakpoint(900px){
        position: relative;
    }

    >.heading-group {
        @include breakpoint(900px){
            position: absolute;
            bottom: 200px;
            bottom: calc-rem(200px);
            right: 0;
            color: $color__white;

            h1,
            h2 {
                padding-left: 0;
            }
        }

        @include breakpoint(900px 1000px){
            h1 {
                font-size: $h1-size - 5px;
                font-size: calc-rem($h1-size - 5px);
            }

            h2 {
                font-size: $h2-size - 5px;
                font-size: calc-rem($h2-size - 5px);
            }
        }
    }
}