/*------------------------------------*\
    $FORMS
\*------------------------------------*/

textarea,
.text-input,
input {
    @include vendor(border-radius, $brand-round);
    @include vendor(border-radius, calc-rem($brand-round));
    font-size: $milli-size;
    font-size: calc-rem($milli-size);
    -webkit-appearance:none;
    border: 1px solid $color__border--standard;
    background-color: $color__background--grey;
    margin-bottom: $base-spacing-unit;
    margin-bottom: calc-rem($base-spacing-unit);
    padding: 0 $half-spacing-unit;
    padding: 0 calc-rem($half-spacing-unit);
    color: $color__meta--dark;
    line-height: $line-height-ratio;

    &:focus {
        outline:none;
        border: 1px solid darken($color__border--dark, 15);
    }

    .main-wrapper--article__detail & {
      background-color:$color__background--grey;
    }
}
/**
 * Placeholders
 */

    ::-webkit-input-placeholder {
        font-size: $milli-size;
        font-size: calc-rem($milli-size);
        color: lighten($color__meta--dark,15);
    }

    :-moz-placeholder {
        color: lighten($color__meta--dark,15);
    }

    ::-moz-placeholder {
        color: lighten($color__meta--dark,15);
    }

    :-ms-input-placeholder {
        color: lighten($color__meta--dark,15);
    }


/**
 * Text inputs
 *
 * Instead of a `[type]` selector for each kind of form input, we just use a
 * class to target any/every one, e.g.:
   <input type=text class=text-input>
   <input type=email class=text-input>
   <input type=password class=text-input>
 *
 */
.text-input,
input {
    height: 40px;
    height: calc-rem(40px);
    width: 300px;
    width: calc-rem(300px);
    max-width:70%;

    &:last-of-type {
        margin-bottom:0;
    }

    &.btn {
        width: auto;
    }
}

    .text-input {
        width: 230px;
        width: calc-rem(230px);
    }
    .text-input--secondary {
        @extend %font__display--normal;
    }

textarea {
    width:100%;
    padding-top: $half-spacing-unit;
    padding-top: calc-rem($half-spacing-unit);
}

.text-input--secondary {
    background-color: $color__white;
}


/**
 * Search form styles
 */

#search-form {
    @extend .cf;
    margin-bottom: $half-spacing-unit;
    margin-bottom: calc-rem($half-spacing-unit);
    display: block;
}
    .search-form__input {
        margin-bottom: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        float: left;

        &:focus {
            border-right: none;
        }
    }

    .search-form__submit.btn {
        @extend %font__icon--gizmo;
        float: left;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 42px;
        height: calc-rem(42px);
        width: 40px;
        font-size: 18px;
        font-size: calc-rem(18px);

        &:hover,
        &:focus {
            color: darken($color__meta--dark, 20);
        }
    }


.form-block--comments {
    margin-bottom: $base-spacing-unit * 2;
    margin-bottom: calc-rem($base-spacing-unit * 2);
}


/**
 * Labels
 *
 * Define a `.label` class as well as a `label` element. This means we can apply
 * label-like styling to meta-labels for groups of options where a `label`
 * element is not suitable, e.g.:
 */
label,
.label{
    @extend %font__display--black;
    font-size: 14px;
    font-size: calc-rem(14px);
    text-transform: uppercase;
    display: block;
    color: $color__meta--dark;
}

    .label--headline {
        @extend h4;
        text-transform: none;
        color:$base-color;
    }

    /**
     * Extra help text in `label`s, e.g.:
     *
       <label>Card number <small class=additional>No spaces</small></label>
     *
     */
    .additional{
        display:block;
        font-weight:normal;
    }


/*
 * Groups of checkboxes and radios, e.g.:
 *
   <li>
       <ul class=check-list>
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
       </ul>
   </li>
 *
 */
.check-list{
    list-style:none;
    margin:0;
}
    /*
     * Labels in check-lists
     */
    .check-label,
    .check-list label,
    .check-list .label{
        display:inline-block;
    }


