/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
    color:$color__orange--primary;
    text-decoration:underline;

    &:hover,
    &:focus {
        text-decoration:none;
        color:$color__orange--active;
    }
}