/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li{
    > ul,
    > ol{
         margin-bottom:0;
     }
}

ul {
    margin-left:0;
    list-style-position:outside;

    li {
        list-style-type:none;

        &:before {
            @include rems(left, - $quarter-spacing-unit);
            content:"•";
            color: $color__orange--primary;
            position:relative;
        }
    }
}

ol {
    margin-left:0;
    list-style-position:outside;

    li {
        counter-increment: counter;

        .generatedcontent & {
            list-style-type:none;

            &:before {
                @include rems(left, - $quarter-spacing-unit);
                content: counter(counter);
                color: $color__orange--primary;
                position:relative;
            }
        }
    }
}