/*------------------------------------*\
    $MAIN
\*------------------------------------*/

body {
    @extend %font__text--regular;
    background-color: $color__background--white;
    font: percentage($base-font-size / 16px) $base-font-family;
    color: $base-color;
}