/*------------------------------------*\
    $MAIN
\*------------------------------------*/

html{
    overflow-y:scroll;
    min-height:100%;
    -webkit-font-smoothing: antialiased;
}


body {
    background-color:
    font-size:104%;
    line-height:$base-line-height;
    color:$base-color;
    font-family:$base-font-family;
}