/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/

p {

}

.lede {
	@include breakpoint($breakpoint__small) {
		font-size: 17px;
		font-size: calc-rem(17px);
		line-height: $base-line-height + 2px;
	}
}

.lede--double {
    padding-bottom: $base-spacing-unit;
    padding-bottom: calc-rem($base-spacing-unit);
    border-bottom: 1px dotted $color__border--standard;
}

.marginalia {
	font-size:$milli-size;
}
