/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/

p {

}

.lede {

}

.lede--double {
    padding-bottom: $base-spacing-unit;
    padding-bottom: calc-rem($base-spacing-unit);
    border-bottom: 1px dotted $color__border--standard;
}

.marginalia {
	font-size:$milli-size;
}
