{#
 # Contact & About index template
 # -------------------
 #
 #}

{% extends "_layout" %}


{% block content_main %}


    <!-- BIG IMAGE -->
    {% for image in contactAbout.largeImage %}
        <figure class="figure__hero">
            <img src="{{image.url}}">
        </figure>
    {% endfor %}


    <!-- CONTENT -->
    <div class="main-wrapper main-wrapper--article">
        <header class="heading-group">
            <h1>About</h1>
            <h2>{{contactAbout.heading__sec}}</h2>
        </header>

        <p class="lede">{{contactAbout.shortExtract}}</p>

        {{contactAbout.bio}}

    </div>

{% endblock %}



{% block content_side %}

    <div class="island side-wrapper">

        <ul class="item-list">
            <li class="item-list__item item-list__item--sidebar">
                <h3>Bookings</h3>
                <p>For booking details please contact:
                    {% for person in contactAbout.bookingContactInfo %}
                        <a href="{{person.bookingsURL}}">{{person.bookingsPerson}}</a> at Supertone Records</p>
                    {% endfor %}
            </li>

            <li class="item-list__item">
                <h3>Get in touch</h3>
                {% include 'components/_forms/_contact-form.html' %}
            </li>

            <li class="item-list__item">
                <h3>Media downloads</h3>
                <ul>
                    <li>
                        <a href="URL!" class="link--icon">
                            <span class="icon ss ss-pdf">pdf</span>
                            Download the pdf
                        </a>
                    </li>
                </p>
            </li>
        </ul>

    </div>

{% endblock %}

