{% extends "_layout" %}
{% set title = "Message Sent" %}

{% block content_main %}
    <header class="heading-group heading-group--main">
        <div class="main-wrapper main-wrapper--full">
            <h1>Thanks</h1>
            <h2>Your message has been sent, Simon will be in touch shortly.</h2>
        </div>
    </header>


        <div class="main-wrapper main-wrapper--article">

            <p>Look for something else? Perhaps it was a <a href="/blog">blog post</a>, or a specific <a href="/recordings">album</a> or release? Maybe it was a glorious review of some <a href="/equipment">equipment</a> or a photo from the <a href="/gallery">gallery</a>? </p>

        </div><!-- //end.main-wrapper -->
    </div>

{% endblock %}
