/*------------------------------------*\
    $BANNER--LANDING
\*------------------------------------*/

// Styles for the figure and description of Simon on the landing page


.banner--landing {
    @include rems(margin-top, - $base-spacing-unit);
    float: left;
    width: 100%;

    @include breakpoint($breakpoint__small){
        @include rems(margin-top, - $base-spacing-unit * 2);
    }

    @include breakpoint($breakpoint__desktop){
        position: relative;
        overflow: hidden;
        @include rems(margin-bottom, $base-spacing-unit * 2);
    }

    @include breakpoint($breakpoint__large){
        @include rems(margin-top, - 65);
        border-bottom: 1px solid $color__background--black;
    }

}

    .banner--landing__figure {
        @include rems(height, 200);
        overflow: hidden;
        background-size: 100%;
        background-image: url('/static/images/homepage/setup.jpg'); //in order to add filter and blur this needs to be a background image
        background-repeat: no-repeat;
        @include rems(margin-bottom, 20);

        @include breakpoint($breakpoint__small){
            @include rems(height, 300);
        }

        @include breakpoint($breakpoint__desktop) {
            @include rems(height, 540);
            -webkit-filter: brightness(30%);
            filter: brightness(30%);
            -webkit-transform: scale(1.02); // nasty hack to hide the white edges caused by css filters
            margin-bottom: 0;
        }

        @include breakpoint($breakpoint__large) {
            @include rems(height, 600);
        }

    }

    .banner--landing__content {
        @include breakpoint($breakpoint__desktop){
            position: absolute;
            @include rems(bottom, 0);
            border-top: 1px solid $color__background--black;
            border-bottom: none;
            margin-bottom: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,.7);
            @include rems(padding-top, $half-spacing-unit);
            @include rems(padding-bottom, $half-spacing-unit);
        }

        @include breakpoint($breakpoint__large){
            border: 1px solid $color__background--black;
            @include rems(max-width, 600);
            left: 0;
            right: 0;
            @include rems(bottom, 182);
            margin: 0 auto;
        }

        .main-wrapper {
            @include breakpoint($breakpoint__large){
                padding-left: 2%;
                padding-right: 2%;
            }
        }


        .lede {
            @include breakpoint($breakpoint__desktop){
                color: $color__white;
            }

            @include breakpoint($breakpoint__large){
                @include rems(font-size, 18);
            }
        }
    }

    .banner--landing__title {
        display: none;

        @include breakpoint($breakpoint__desktop){
            z-index: 3;
            display: block;
            background:url("/static/images/homepage/logo.svg") no-repeat;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            background-size: 100%;
            @include rems(height, 100);
            width: 64%;
            @include rems(max-width, 600);
            position: absolute;
            bottom: 50%;
            margin: 0 auto;
            left: 0;
            right: 0;
            margin-bottom: 0;
        }
    }