/*------------------------------------*\
    $BANNER-NAV
\*------------------------------------*/

#nav_pri {
    background-color: $color__background--dark;

    .link__mobile--menu {

		.no-js & {
			display: none;
		}

    }
}

.banner-nav {
	.js & {
		display: none;
	}

    @extend .nav--stacked;
    margin:0;

    >li {

    }
}