/*------------------------------------*\
    $BANNER-NAV
\*------------------------------------*/
/**
 * The main navigational element.
 */

#nav_pri {
    background-color: $color__background--dark;

    @include breakpoint($breakpoint__large){
        float: right;
        width: 77%;
        border-bottom: 2px solid $color__meta;
    }

    @include breakpoint(1260px) {
        width: 78.7%;
    }
}


/**
 * The link that opens the menu at mobile sizes
 */
.link__mobile-menu {

    // hide the mobile menu link when no javascript is detected
    .no-js {
        display:none;
    }

    @extend %font__display--normal;
    height: 46px;
    height: calc-rem(46px);
    position: absolute;
    top: 0;
    right: 0;
    background-color:$color__banner-nav--hover;
    width: 30%;
    display: inline-block;
    color: $color__white;
    padding: ($half-spacing-unit*1.45) $base-spacing-unit;
    padding: calc-rem($half-spacing-unit*1.45) calc-rem($base-spacing-unit);
    border-bottom: 1px solid $color__orange--secondary;
    border-left: 1px solid $color__black;

    &:hover,
    &:focus {
        color: $color__white;
        border-bottom: 1px solid darken($color__orange--secondary, 10);
        background-color: darken($color__banner-nav--hover,5);
    }

    .menu--active & {
        border-bottom: 1px solid $color__banner-nav--dark;
        background-color: darken($color__banner-nav--hover,3);
        background-color: darken($color__banner-nav--hover,5);
    }

    @include breakpoint(552px) {
        width: 250px;
        width: calc-rem(250px);
    }

    @include breakpoint($breakpoint__large) {
        display: none;
    }
}


/**
 * Styles for the menu
 */
.banner-nav {
    // throw the nav into stacked mode
    @extend .nav--stacked;
    transition: none;
    width:100%;
    margin-bottom: 0;
    z-index: 1;


    // hide the navigational if javascript exists
    .js & {
        display:none;
    }

    .no-js & {
        border-top: 1px solid $color__orange--secondary;
    }

    >li {

        @include breakpoint($breakpoint__large){
            display: block;
            float: left;
            width: 14.2%;
            border-right: 1px solid $color__background--black;

            &:last-of-type {
                border-right: none;
            }
        }

        a {
            @extend %font__display--normal;
            color: $color__banner-nav--dark;
            padding: ($half-spacing-unit*1.5) $base-spacing-unit;
            border-bottom: 1px solid $color__background--black;

            &:hover,
            &:focus {
                background-color: $color__banner-nav--hover;
                color: $color__white;
            }

            // change colors on desktop sizes
            @include breakpoint($breakpoint__large){
                border-bottom: none;
                font-size: 15px;
                font-size: calc-rem(15px);
            }

        }
        .active {
            color: $color__white;

            &:before {
                color: $color__white;
                content: "•";
                color: white;
                position: relative;
                margin-left: -$half-spacing-unit;
            }
        }
    }

    @include breakpoint(552px){
        position: absolute;
        right: 0;
        width: 250px;
        width: calc-rem(250px);
        opacity: .95;
        background-color: $color__background--dark;
        border: 1px solid $color__background--black;
        border-top: none;
        border-bottom: none;
    }

    @include breakpoint($breakpoint__large){
        .js & {
            position: relative;
            width: 100%;
            opacity: 1;
            display: block;
        }
    }
}
