/*------------------------------------*\
    $BANNER-LOGO
\*------------------------------------*/

#header {
    @extend .cf;
    position: relative;
    width:100%;
    margin-bottom: $base-spacing-unit;
    margin-bottom: calc-rem($base-spacing-unit);
    background-color: $color__background--black;

    @include breakpoint($breakpoint__small) {
        margin-bottom: $base-spacing-unit * 2;
        margin-bottom: calc-rem($base-spacing-unit * 2);
    }

    @include breakpoint(552px) {
        border-bottom: 1px solid $color__orange--secondary;
        height: 46px;
        height: calc-rem(46px);
    }

    @include breakpoint($breakpoint__large){
        border-bottom: none;
        margin-bottom: $base-spacing-unit * 3;
        margin-bottom: calc-rem($base-spacing-unit * 3);
    }
}

.banner-logo {
    @extend .main-wrapper;
    font-size: $h3-size;
    font-size: calc-rem($h3-size);
    height: 46px;
    height: calc-rem(46px);
    border-bottom: 1px solid $color__orange--secondary;
    text-align: left;
    color: $color__white;
    text-transform: uppercase;
    padding-top: ($half-spacing-unit + 4px);
    padding-top: calc-rem($half-spacing-unit + 4px);
    margin: 0 auto;
    line-height: $base-line-height;
    background-color: $color__background--black;


    @include breakpoint($breakpoint__large){
        width: 23%;
        margin-left: 0;
        padding-right: 0;
        padding-left: $half-spacing-unit + 5px;
        padding-left: calc-rem($half-spacing-unit + 5px);
        float: left;
        border-bottom: 2px solid $color__orange--secondary;
        height: 47px;
        height: calc-rem(47px);
    }

    @include breakpoint(1260px){
        width: 21.3%;
        padding-left: $base-spacing-unit;
        padding-left: calc-rem($base-spacing-unit);
    }


    h1, p {
        @include image-2x("/static/images/branding/simon-campbell__logo--large.png", 5.3em);
        background:url("/static/images/branding/simon-campbell__logo.png") no-repeat;
        background-size:200px;
        background-size:calc-rem(200px);
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin:0;
        line-height:1;
    }

    &.menu--active {
        border-bottom: 1px solid $color__orange--secondary;
        background-color: darken($color__banner-nav--hover,3);
    }
}