 /*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/
/**
 * Based on Brad Frost’s fluid carousel:
 * http://codepen.io/bradfrost/full/tdacu
 */

.carousel {
    position: relative;
    margin-top: $base-spacing-unit;
    margin-top: calc-rem($base-spacing-unit);
    list-style: none;

    .js & {
        color: darken($color__white,10);
        margin-bottom: $half-spacing-unit;
        margin-bottom: calc-rem($half-spacing-unit);
    }

    .no-js & {
        @extend .main-wrapper;
    }
}

    .carousel__list-container {
        @extend .cf;
        overflow: hidden;
        position: relative;
        z-index: 0;

        h4 {
            margin-bottom: 0;
        }
    }

    .carousel__list {

        .js & {
            @extend .cf;
            margin-bottom: 0;
            width: 99999em;
            position: relative;
            left: 0;
            background-color: $color__background--dark;
        }
    }

    .carousel__list.animating {
        @include transition(left .25s ease-out);
    }

    .carousel li {
        float: left;
        position: relative;

        .no-js & {
            margin-bottom: $base-spacing-unit * 2;
            margin-bottom: calc-rem($base-spacing-unit * 2);
        }

        &:before {
            content:"";
            display: none;
        }
        .js & {
            > figure {
                margin: 0;
                background-color: $color__background--black;
                max-height: 722px;
                max-height: calc-rem(722px);

                img {
                    width: 100%;
                }
            }
        }
    }
    .carousel li a,
    .carousel img {
        display: block;
    }

    .carousel img {
        margin: 0 auto;
    }


    .carousel__summary {
        width: 100%;

        .js & {
            padding: $base-spacing-unit;
            padding: calc-rem($base-spacing-unit);
            border-top: 1px solid $color__background--black;

            @include breakpoint($breakpoint__small){
                @include max-width(12);
                margin: 0 auto;
                padding-left: ($gutter *2);
                padding-left: calc-rem($gutter *2);
                padding-right: ($gutter *2);
                padding-right: calc-rem($gutter *2);
            }

            @include breakpoint(750px){
                @include width(5);
                position: absolute;
                bottom: 0;
                padding-top: $half-spacing-unit;
                padding-top: calc-rem($half-spacing-unit);
                padding-bottom: $half-spacing-unit;
                padding-bottom: calc-rem($half-spacing-unit);
                padding-right: $half-spacing-unit;
                padding-right: calc-rem($half-spacing-unit);
                background-color: rgba(58,58,58, .7);
                border: 1px solid $color__background--dark;
                border-left: none;
            }

            p,
            .meta-info-block {
                font-size: $milli-size;
                font-size: calc-rem($milli-size);
            }

            h4 {
                color: $color__white;
                font-size: $h5-size;
                font-size: calc-rem($h5-size);
            }

        }

        p {
            @extend %font__text--italic;
            padding-bottom: $quarter-spacing-unit;
            padding-bottom: calc-rem($quarter-spacing-unit);
            margin-bottom: $quarter-spacing-unit;
            margin-bottom: calc-rem($quarter-spacing-unit);
            border-bottom: 1px dotted darken($color__meta--on-bg, 20);
        }

        .meta-info-block {
            margin-bottom:0;
        }

        p,
        .meta-info-block {
            font-size: $milli-size;
            font-size: calc-rem($milli-size);
        }
    }

    /**
     * Media
     * Conditional CSS: http://adactio.com/journal/5429/
     */

    /* Medium */
    @media screen and (min-width: 35em) {
        body:after {
            content: 'medium';
            display: none;
        }
    }


    /* Large */
    @media screen and (min-width: 56.25em) {
        body:after { /* Conditional CSS http://adactio.com/journal/5429/ */
            content: 'large';
            display: none;
        }
    }

    /*Large with room to spare on either side */
    @media screen and (min-width: 56em) {
        .carousel__summary {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            color: #fff;
            background: rgba(0,0,0,0.2);
        }
    }



/**
 * Navigation items that controls the animations of the carousel
 */
.carousel__nav {

    .no-js & {
        display: none;
    }

    @extend %font__display--normal;
    @extend .cf;
    position: absolute;
    top: 0;
    width: 100%;
    font-size: $milli-size;
    font-size: calc-rem($milli-size);
    clear: both;
    border: 1px solid $color__background--black;
    background-color: $color__background--black;
    opacity: .7;
    border-bottom: 1px solid $color__background--dark;


    @include breakpoint(680px) {
        border: none;
        top: 27%;
    }

    @include breakpoint(750px){
        top: 30%;
    }

    a {
        @include transition(all .25s ease-out);
        float: left;
        width: 50%;
        padding: $half-spacing-unit 1em;
        border-bottom:none;
        color: $color__white;
        cursor: pointer;


        @include breakpoint(680px){
            position: absolute;
            width: auto;
            height: 120px;
            height: calc-rem(120px);
            color: #fff;
            font-size: $h1-size;
            font-size: calc-rem($h1-size);
            padding: $half-spacing-unit / 2;
            padding: calc-rem($half-spacing-unit / 2);
            padding-left: 0;
            padding-right: 0;
            display: table;
            background-color: lighten($color__background--black, 10);
            border: 1px solid $color__background--dark;
            opacity: .7;

            .carousel__nav__text {
                display: none;
            }

            &:hover,
            &:focus {
                background-color: $color__background--black;
            }
        }

        &.next {
            border-left: 1px solid $color__background--dark;
            text-align: right;

            @include breakpoint(680px){
                left: auto;
                right: 0;
                border-right: none;
                line-height: 1;
            }
        }

        &.prev {
            @include breakpoint(680px){
                border-left: none;
                left: 0;
                line-height: 1;
            }
        }

        &.inactive {
            opacity: 0.2;
        }

        &:hover,
        &:focus {
            @include breakpoint(max-width 680px){
                border-bottom:none;
                background-color: darken($color__background--dark, 20);
            }

            .icon {
                color: $color__white;
            }
        }
    }

    .icon {
        @include transition(all .25s ease-in-out);
        vertical-align: -2px;
        vertical-align: - calc-rem(2px);
        color: $color__meta;

        @include breakpoint(680px){
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
}

