/*------------------------------------*\
    $COMMENTS
\*------------------------------------*/
/**
 * Comment section on detail pages
 */

.comments {


    @include respond-to("between medium and large") {
        @include rems(margin-right, $base-spacing-unit);
        float: left;
        width: 47%;
    }

    @include respond-to("largest only"){
        clear: both;
        margin-right: 0;
    }
}

.comments__wrapper {
    @include respond-to("largest only"){
        @include rems(padding-top, $half-spacing-unit / 2);
        float: left;
        width: 65.3%;
    }

    @include respond-to("gigantic") {
        clear: left;
    }
}


.island--wrapper__comments-container {
    margin-top: 0;

    @include respond-to("largest only"){
        .item-list {
            padding-top: 0;
        }
    }
}
