/*------------------------------------*\
    $COMMENTS
\*------------------------------------*/
/**
 * Comment section on detail pages
 */

.comments {

    @include breakpoint(680px $breakpoint__large) {
        @include rems(margin-right, $base-spacing-unit);
        float: left;
        width: 47%;
    }

    @include breakpoint($breakpoint__large){
        clear: both;
        margin-right: 0;
    }
}

.comments__wrapper {
    @include breakpoint($breakpoint__large){
        @include rems(padding-top, $half-spacing-unit / 2);
        float: left;
        width: 58.2%;
    }

    @include breakpoint(1260px) {
        width: 64.15%;
        clear: left;
    }

    .wide-wrapper {
        @include breakpoint($breakpoint__large) {
            @include rems(padding-right, 24);
        }
    }
}

    .comments__wrapper--rev {
        @include breakpoint($breakpoint__large){
            @include rems(padding-left, $base-spacing-unit + 5);
            float: right;
            width: 58.2%;
        }

        @include breakpoint(1100px){
            @include rems(padding-left, 87);
            width: 63.2%;
        }

        @include breakpoint(1260px){
            @include rems(padding-left, 120);
            width: 65.5%;

        }

        .wide-wrapper {
            @include breakpoint($breakpoint__large) {
                @include rems(padding-right, 90);
                padding-left: 0;
            }
        }
    }


.comments__header {
    @extend %font__display--black;
    @include rems(font-size, $h2-size + 4);

    @include breakpoint($breakpoint__large){
        @include rems(margin-left, -90);
        @include rems(margin-right, -90);
        @include rems(padding-bottom, 2);
        @include rems(padding-left, 90);
        border-bottom: 1px solid $color__border--standard;
    }

    .comments__wrapper--rev  & {
        @include breakpoint($breakpoint__large){
            @include rems(margin-right, - $base-spacing-unit * 5);
            @include rems(padding-right, $base-spacing-unit * 5);
        }

        @include breakpoint(1260px){
            @include rems(margin-left, - $base-spacing-unit * 6);
            @include rems(padding-left, $base-spacing-unit * 6);
        }
    }
}

.comments__count {
    color: $color__meta;
}

.comments__form {
    @include breakpoint(680px $breakpoint__large) {
        float: right;
        width: 49%;
    }

    @include breakpoint(1260px){
        @include rems(max-width, 539);
    }
}

.island--wrapper__comments-container {
    margin-top: 0;

    @include breakpoint($breakpoint__large){
        .item-list {
            padding-top: 0;
        }
    }
}
