/*------------------------------------*\
    $FEATURED
\*------------------------------------*/
/**
* Styles for the featured block on the homepage
**/

.featured {
    padding-bottom: $base-spacing-unit;
    padding-bottom: calc-rem($base-spacing-unit);
    margin-bottom: $base-spacing-unit;
    margin-bottom: calc-rem($base-spacing-unit);
    border-bottom: 1px dotted $color__border--standard;

}

    .featured__post-image {

    }

    .featured__post-content {

        p {
            margin-bottom: 0;
        }
    }



    .featured__album {

    }

    .featured__album-image {
        position:relative;
    }

    .featured__album-content {
        @extend .cf;

        .heading-group {
            float: left;
            width: 100%;

            h3 {
                font-size: 30px;
                font-size: calc-rem(30px);
                clear: left;
            }

            h3, h4 {
                float: left;
                width: 50%;
            }

            .btn {
                float: right;
                margin-left: $half-spacing-unit;
                margin-left: calc-rem($half-spacing-unit);
            }
        }

        p {
            float: left;
            width: 100%;
        }
    }






















