/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.footer-main {
    color: $color__text--reverse;
    padding: $base-spacing-unit 0;
    background-color: $color__background--black;
    border-top: 5px solid lighten($color__background--black, 10);
}


    .footer-main__item {
        @include max-width(12);
        padding: 0 $gutter;
        margin: 0 auto;
        margin-bottom: $base-spacing-unit * 2;
        margin-bottom: calc-rem($base-spacing-unit * 2);

        h3 {
            font-size: $h4-size;
            font-size: cal-rem($h4-size);
            color: $color__white;
            margin-bottom:0;
        }

        a,
        p,
        label {
            font-size: $milli-size;
            font-size: calc-rem($milli-size);
        }

        input {
            margin-bottom:0;
        }

        fieldset {
            margin-bottom: 0;
        }

        label {
            @extend %font__text--regular;
            color: $color__text--reverse;
            font-weight:normal;
            text-transform: none;
            margin-bottom: $half-spacing-unit;
            margin-bottom: calc-rem($half-spacing-unit);
        }
    }


    h3.social-icons__title {
        margin-bottom: $half-spacing-unit;
        margin-bottom: calc-rem($half-spacing-unit);
    }


    .icon-list {
        @include vendor('column-count', 2);

        li a {
            &:hover,
            &:focus {
                border:none;

                &:before {
                    @include transition(.25s all ease-in-out);
                    opacity: .5;
                }
            }
        }
    }


    .site-info {
        @extend .cf;
        border-top: 1px solid darken($color__text--reverse,30);
        padding-top: $base-spacing-unit;
        padding-top: calc-rem($base-spacing-unit);
        margin-bottom: $half-spacing-unit;
        margin-bottom: calc-rem($half-spacing-unit);

        .nav {
            margin-bottom: 0;
            float: left;
            line-height:1;
        }

        .link--jump {
            line-height: 1;
            float: right;
            color: darken($color__white, 20);
            border-bottom: 1px dotted darken($color__white, 30);

            &:hover,
            &:focus {
                color: darken($color__white, 35);
                border-bottom: 1px solid darken($color__white, 45);
            }
        }

        li,
        a {
            @extend %font__display--normal;
            margin-bottom: 0;
            font-size: $micro-size;
            font-size: calc-rem($micro-size);
        }

        .ss-up {
            font-size: $micro-size - 2px;
            font-size: calc-rem($micro-size - 2px);
        }
    }
