/*------------------------------------*\
    $LIVE-SHOWS-BLOCK
\*------------------------------------*/
/**
 * Custom molecule for the live shows container
 */

.live-shows-block {
    header {
        position: relative;
        background-color: #E7E6E6;


        > h4,
        >h3 {
            display: inline-block;
            margin: 0;
        }

        > a {
            @extend %font__display--normal;
            position: absolute;
            right: $gutter;
            right: calc-rem($gutter);
            top: $half-spacing-unit + 6px;
            top: calc-rem($half-spacing-unit + 6px);
            font-size: 13px;
            font-size: calc-rem(13px);

            @include breakpoint($breakpoint__large){
                right: 90px;
                right: calc-rem(90px);
            }
        }
    }
}

.live-shows-block--home {
    margin-bottom: $base-spacing-unit * 2;
    margin-bottom: calc-rem($base-spacing-unit * 2);
}


.live-shows-block--island {
    .island__header {
        border: 1px solid $color__island--border;

        @include breakpoint($breakpoint__large){
            border: none;
            background-color: transparent;
            float: none;
            width: auto;
            border-bottom: 1px solid $color__border--standard;
            border-top: 1px solid $color__border--standard;
            margin-left: - $base-spacing-unit;
            margin-left: - calc-rem($base-spacing-unit);
            margin-right: - 90px;
            margin-right: - calc-rem(90px);
            margin-bottom: $base-spacing-unit / 2;
            margin-bottom: calc-rem($base-spacing-unit / 2);
            padding-top: $half-spacing-unit;
            padding-left: $base-spacing-unit;
            padding-left: calc-rem($base-spacing-unit);
            padding-right: 90px;
            padding-right: calc-rem(90px);
            padding-bottom: $half-spacing-unit - 3px;
            padding-bottom: calc-rem($half-spacing-unit - 3px);
            line-height: 1.5;
        }
    }

    .island__content {
        padding-top: $base-spacing-unit;
        padding-top: calc-rem($base-spacing-unit);
        padding-bottom: $base-spacing-unit;
        padding-bottom: calc-rem($base-spacing-unit);
        background-color: #E7E6E6;
        border: 1px solid $color__island--border;
        border-top: none;

        @include breakpoint($breakpoint__large){
            background-color: transparent;
            border: none;
            padding: 0;
        }
    }
}

    .shows-list {
        margin-bottom: 0;

        dt {
            font-weight: normal;
            font-size: $milli-size;
            font-size: calc-rem($milli-size);
            color: darken($color__meta--on-bg, 10);
            padding-bottom:0;

            @include breakpoint($breakpoint__large){
                clear: left;
                float: left;
                width: 25%;
                margin-right: $base-spacing-unit;
                margin-right: calc-rem($base-spacing-unit);
                margin-bottom: $base-spacing-unit;
                margin-bottom: calc-rem($base-spacing-unit);
            }
        }

        dd {
            margin-bottom: $half-spacing-unit;
            margin-bottom: calc-rem($half-spacing-unit);
            padding-bottom: calc-rem($half-spacing-unit);
            border-bottom: 1px dotted $color__border--dark;

            @include breakpoint($breakpoint__large){
                float: left;
                width: 69%;
                margin-bottom: $base-spacing-unit;
                margin-bottom: calc-rem($base-spacing-unit);
                border-bottom: none;
            }

            >h5 {
                @extend %font__text--regular;
                margin: 0;
            }

            p {
                font-size: $milli-size;
                font-size: calc-rem($milli-size);
                margin-bottom:0;
            }

            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }
