/*------------------------------------*\
    $LIVE-SHOWS-BLOCK
\*------------------------------------*/
/**
 * Custom molecule for the live shows container
 */

.live-shows-block {
    header {
        position: relative;

        > h3 {
            display: inline-block;
            margin-bottom: 0;
            line-height: 1;
        }

        > a {
            position: absolute;
            right: $gutter;
            right: calc-rem($gutter);
            top: $half-spacing-unit + 6px;
            top: calc-rem($half-spacing-unit + 6px);
            font-size: $milli-size;
            font-size: calc-rem($milli-size);
        }
    }
}

    .shows-list {
        margin-bottom: 0;

        dt {
            font-weight: normal;
            font-size: $milli-size;
            font-size: calc-rem($milli-size);
            color: darken($color__meta--on-bg, 10);
            padding-bottom:0;
        }

        dd {
            margin-bottom: $half-spacing-unit;
            margin-bottom: calc-rem($half-spacing-unit);
            padding-bottom: calc-rem($half-spacing-unit);
            border-bottom: 1px dotted $color__border--dark;

            >h4 {
                @extend %font__text--regular;
                margin: 0;
            }

            p {
                font-size: $milli-size;
                font-size: calc-rem($milli-size);
                margin-bottom:0;
            }

            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }