/*------------------------------------*\
    $RECORD-SALE
\*------------------------------------*/
/**
* Stlyes for the album sale on recordings/detail.html
**/


.record-sale {
    @include breakpoint(680px $breakpoint__large){

        > figure {
            float: left;
            width: 25%;
            margin-right: $base-spacing-unit;
            margin-right: calc-rem($base-spacing-unit);
        }

        >.item-list--bordered {
            float: right;
            width: 70%;
            border: none;

            .item-list__item {
                width: 100%;

                &:first-child {
                    border: none;
                    padding-top: 0;
                }
            }
        }
    }

    @include breakpoint($breakpoint__large){
        padding-top: $base-spacing-unit;
        padding-top: calc-rem($base-spacing-unit);
    }

    figure {
        img {
            margin: 0 auto;
        }
    }

    h3 {
        font-size: $h4-size + 2px;
        font-size: calc-rem($h4-size + 2px);
    }

}
