/*------------------------------------*\
    $SIDE-BAR ALBUM
\*------------------------------------*/



.side-bar--album {
    position: relative;

    &:first-of-type h4 {
        border-top: none;
    }

    .media__img {
        @include transition(all 0.2s ease-in-out);
        margin-bottom: 0;
        width: 25%;
        position: relative;

        &:hover,
        &:focus {
            a {
                -webkit-filter: sepia(1);
                -webkit-filter: brightness(0.6);
            }

            &:before {
                opacity:1;
                -webkit-filter: none;
            }
        }

        &:before {
            @include transition(all 0.3s ease-in-out);
            @extend %font__icon--gizmo;
            position: absolute;
            left: 39%;
            top: 38%;
            content:"play";
            display: block;
            font-size: $base-font-size * 2;
            color: $color__white;
            opacity: 0;
            pointer-events: none;
        }
    }

    h4 {
        margin-bottom: 0;

        @include breakpoint(680px $breakpoint__large){
            position: absolute;
            top: 0;
            background-color: $color__background--black;
            opacity: .6;
            z-index: 1;
            width: 100%;
            padding: $half-spacing-unit;
            padding: calc-rem($half-spacing-unit);
            color: $color__white;
        }

        @include breakpoint($breakpoint__large){
            float: none;
            width: auto;
            border-bottom: 1px solid $color__border--standard;
            border-top: 1px solid $color__border--standard;
            margin-left: - $base-spacing-unit;
            margin-left: - calc-rem($base-spacing-unit);
            margin-right: - 90px;
            margin-right: - calc-rem(90px);
            margin-bottom: $base-spacing-unit / 2;
            margin-bottom: calc-rem($base-spacing-unit / 2);
            padding-top: $half-spacing-unit;
            padding-top: calc-rem($half-spacing-unit);
            padding-left: $base-spacing-unit;
            padding-left: calc-rem($base-spacing-unit);
            padding-right: 90px;
            padding-right: - calc-rem(90px);
            padding-bottom: $half-spacing-unit - 3px;
            padding-bottom: calc-rem($half-spacing-unit - 3px);
            line-height: 1.5;
            background-color: $color__sidebar--bg;
        }

        .side-wrapper--rev & {
            @include breakpoint ($breakpoint__large) {
                margin-left: - 110px;
                margin-left: - calc-rem(110px);
                margin-right: - $base-spacing-unit;
                margin-right: - calc-rem($base-spacing-unit);
                padding-left: 110px;
                padding-left: calc-rem(110px);
            }
        }
    }

    p {
        display: inline;
    }

    .link--icon {
        display:inline;
    }
}