/*------------------------------------*\
    $WRAPPERS
\*------------------------------------*/
/**
 * Main wrapper styles that contain the primary content area
 */

.wrapper {
    width: 100%;
    padding-top: $base-spacing-unit;
    padding-top: calc-rem($base-spacing-unit);
    border-top: 1px dotted $color__border--standard;
}

.main-wrapper,
.side-wrapper,
.wide-wrapper {
    @extend .cf;
    @include max-width(8);
    padding-right: $gutter;
    padding-right: calc-rem($gutter);
    padding-left: $gutter;
    padding-left: calc-rem($gutter);
    margin: 0 auto;

    @include breakpoint($breakpoint__small){
        @include max-width(8);
        padding-left: ($gutter *2);
        padding-left: calc-rem($gutter *2);
        padding-right: ($gutter *2);
        padding-right: calc-rem($gutter *2);
    }
}


.wide-wrapper {
    @include breakpoint(680px){
        @include max-width(12);
    }
}

    .main-wrapper--article {
        margin-bottom: $base-spacing-unit *2;
        margin-bottom: calc-rem($base-spacing-unit *2);
    }

    .main-wrapper--article-meta {

          > h2 {
            @extend %font__display--black;

            .comment-count {
                color: $color__meta;
            }
        }
    }

        .main-wrapper--article-meta__header {
            margin-bottom: $base-spacing-unit;
            margin-bottom: calc-rem($base-spacing-unit);
        }

    .main-wrapper--gallery {
        h3 {
            margin-bottom: 0;
        }
    }

    .main-wrapper--article__detail {
        @include breakpoint($breakpoint__small) {
            margin-bottom: $base-spacing-unit * 2;
            margin-bottom: calc-rem($base-spacing-unit * 2);
        }
    }

    .side-wrapper--home {
        border-bottom: 1px dotted $color__border--standard;
        margin-bottom: $base-spacing-unit * 2;
        margin-bottom: calc-rem($base-spacing-unit * 2);
        padding-bottom: $half-spacing-unit;
        padding-bottom: calc-rem($half-spacing-unit);
    }

    .side-wrapper--alternate {
        border-top: none;
    }