{#
 # Live shows
 # ---------------
 #
 # This is the live shows component that can be placed anywhere on the site.
 # This alternative version is the one that should be contained within an island and sits in the sidebar on desktop
 #}

{% if craft.entries.find({section:'liveShows'})|length > 1 %}
    <div class="live-shows-block live-shows-block--island">
        <header class="island__header">
            <h4>Live Shows</h4>
        </header>

        <dl class="shows-list island__content">

           {% for entry in craft.entries.find({section:'liveShows', limit: '4'})|reverse %}
                <dt class="shows-list">
                    <time datetime="{{entry.liveShowDate|date("Y-m-d")}}">{{entry.liveShowDate|date("jS F Y")}}</time>
                </dt>

                <dd>
                    <h5><a href="{{entry.liveShowLink}}">{{entry.title}}</a></h5>
                    <p>{{entry.liveShowLocation}}</p>
                </dd>
            {% endfor %}
        </dl>
    </div>
{% endif %}