{#
 # Live shows
 # ---------------
 #
 # This is the live shows component that can be placed anywhere on the site.
 #}

<header class="meta-info-block">
    <h3>Live Shows</h3>
    <a href="URL!">View all upcoming shows &raquo;</a>
</header>

<dl class="shows-list">

    <dt class="shows-list meta-size">
        <time datetime="2013-06-24">24th June 2013</time>
    </dt>
    <dd>
        <h4 class="base-text-size"><a href="URL!">Borderline</a></h4>
        <p>The Pavilion, Jumping Juniper, 77 Road Street</p>
    </dd>

    <dt class="meta-size">
        <time datetime="2013-06-24">24th June 2013</time>
    </dt>
    <dd>
        <h4 class="base-text-size"><a href="URL!">Borderline</a></h4>
        <p>The Pavilion, Jumping Juniper, 77 Road Street</p>
    </dd>

    <dt class="meta-size">
        <time datetime="2013-06-24">24th June 2013</time>
    </dt>
    <dd>
        <h4 class="base-text-size"><a href="URL!">Borderline</a></h4>
        <p>The Pavilion, Jumping Juniper, 77 Road Street</p>
    </dd>

</dl>