{#
 # Featured LP info
 # ---------------------
 #
 #}


<div class="media side-bar--album">

    <figure class="media__img">
        <a href="URL!">
            <img src="http://placehold.it/150x150/0eafff/ffffff.png"/>
        </a>
    </figure>

    <h4>Thirty Six</h4>

    <div class="media__body">
        <p>Simon’s first solo album in thirty six years of spanking the plank. It’s not blues, it’s not rock, it’s not folk; it’s an eclectic mix.</p>

        <a href="URL!" class="link--icon">
            <span class="icon ss ss-music">music</span>
            Listen now
        </a>


    </div>
</div>