{#
 # Side bar - live shows, etc.
 # ---------------------
 #
 #}

<!-- We still need two custom blocks in this sidebar -->


<ul class="item-list">
    <li class="item-list__item">
        {% include 'components/_live-shows.html' %}
    </li>


    {% if craft.request.lastSegment != 'thirty-six' %}

        <li class="item-list__item">
            <h3>Thirty Six</h3>

            <figure>
                <img src="http://placehold.it/150x150/0eafff/ffffff.png"/>
            </figure>

            <p>Well this is it, Simon’s first solo album in thirty six years of spanking the plank. It’s not blues, it’s not rock, it’s not folk; it is an eclectic mix that will take you on his very personal musical journey.</p>

            <a href="URL!" class="btn btn--icon btn--primary">
                <span class="icon ss-music">music</span>
                <div class="icon-text">
                    Listen now
                </div>
            </a>
        </li>
    {% endif %}
</ul>
