{#
 # Side bar - live shows, etc.
 # ---------------------
 #
 #}

<!-- We still need two custom blocks in this sidebar -->


<ul class="item-list">
    <li class="item-list__item">
        <header class="meta-info-block">
            <h3>Live Shows</h3>
            <a href="URL!">View all upcoming shows &raquo;</a>
        </header>

        <dl class="shows-list">

            <dt class="shows-list meta-size">
                <time datetime="2013-06-24">24th June 2013</time>
            </dt>
            <dd>
                <h5 class="base-text-size"><a href="URL!">Borderline</a></h5>
                <p>The Pavilion, Jumping Juniper, 77 Road Street</p>
            </dd>

            <dt class="meta-size">
                <time datetime="2013-06-24">24th June 2013</time>
            </dt>
            <dd>
                <h5 class="base-text-size"><a href="URL!">Borderline</a></h5>
                <p>The Pavilion, Jumping Juniper, 77 Road Street</p>
            </dd>

            <dt class="meta-size">
                <time datetime="2013-06-24">24th June 2013</time>
            </dt>
            <dd>
                <h5 class="base-text-size"><a href="URL!">Borderline</a></h5>
                <p>The Pavilion, Jumping Juniper, 77 Road Street</p>
            </dd>

        </dl>
    </li>


    {% if craft.request.lastSegment != 'thirty-six' %}

        <li class="item-list__item">
            <header class="meta-info-block">
                <h3>Thirty Six</h3>
            </header>

            <figure>
                <img src="http://placehold.it/150x150/0eafff/ffffff.png"/>
            </figure>

            <p>Well this is it, Simon’s first solo album in thirty six years of spanking the plank. It’s not blues, it’s not rock, it’s not folk; it is an eclectic mix that will take you on his very personal musical journey.</p>

            <a class="btn btn--music" href="URL!">Listen now</a>
        </li>
    {% endif %}
</ul>
