{#
 # Featured LP info
 # ---------------------
 #
 #}


<div class="side-bar--album">

    <h4>New album: Thirty Six</h4>

    <figure class="side-bar--album__figure">
        <a href="http://simoncampbell/index.php/recordings/detail.html">
            <img src="http://music.simoncampbell.com/uploads/images/resizer_cache/274ebac8c82daec5faf6ce7c24be008607daa7fc.jpg" alt="Thirty Six"/>
        </a>
    </figure>


    <div class="side-bar--album__link">
        <a href="http://simoncampbell/index.php/recordings/detail.html" class="btn btn--icon btn--primary btn--arrow-right">
            <span class="icon ss-rewind">mediumvolume</span>
            <div class="icon-text">
                Listen now
            </div>
        </a>
    </div>
</div><!-- //end.side-bar album -->