{#
 # Featured LP info
 # ---------------------
 #
 #}


<div class="side-bar--album">

    {% for album in craft.entries.find({section:'Recordings', limit:'1'}) %}
        <h4>New album: {{album.title}}</h4>

        <figure class="side-bar--album__figure">
            {% for image in album.albumArt %}
                <a href="{{album.url}}">
                    <img src="{{image.url}}" alt="{{album.title}}"/>
                </a>
            {% endfor %}
        </figure>


        <div class="side-bar--album__link">
            <a href="{{album.url}}" class="btn btn--icon btn--primary btn--arrow-right">
                <span class="icon ss-rewind">mediumvolume</span>
                <div class="icon-text">
                    Listen now
                </div>
            </a>
        </div>
    {% endfor %}
</div><!-- //end.side-bar album -->