{#
 # Article social share stuff
 # ------------------------
 #
 #}


<ul class="nav nav--social">
    <li>
        <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;u={{ craft.request.url | url_encode }}&amp;t={{entry.title | url_encode }}+by+Simon+Campbell)" class="link--reverse social-icon icon--facebook" data-popup data-popup-width="685" data-popup-height="500">
            Like on Facebook
        </a>
    </li>
    <li>
        <a href="https://twitter.com/intent/tweet?url={{ craft.request.url | url_encode }}&amp;related=simoncampbell&amp;text={{entry.title | url_encode }}+(via+@simoncampbell)" class="link--reverse social-icon icon--twitter" data-popup data-popup-width="685" data-popup-height="500">
            <i class=""></i>Share on Twitter
        </a>
    </li>
</ul>