{#
 # GALLERY ALBUM
 # Detail Template
 # -------------------
 #
 #}


{% set title = entry.title ~ " - Gallery" %}
{% extends "_layout" %}

{% block content_main %}

    <header class="heading-group heading-group--main">
        <div class="main-wrapper main-wrapper--full">
            <h1>{{headings.galleryHeading}}</h1>
            <h2>{{headings.gallerySubheading}}</h2>
        </div>
    </header>

    <div class="carousel-wrapper">
        <div class="side-wrapper carousel__info-wrapper">
             <h4>{{entry.title}}</h4>
             <p>{{entry.shortExtract}}</p>
        </div><!-- //.side-wrapper -->

        <div class="main-wrapper main-wrapper--article main-wrapper--gallery">
            <div class="gallery js-photoswipe js-masonry" data-pswp-uid="1">
                {% for image in entry.carouselImages %}
                    <figure class="js-masonry-item" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{image.getUrl}}" itemprop="contentUrl" data-size="{{ image.width ~ 'x' ~ image.height }}">
                            <img data-pin-no-hover="true" src="{{ image.getUrl }}" itemprop="thumbnail" alt="{{ image.shortExtract }}" />
                        </a>
                        <figcaption itemprop="caption description">
                            {{ image.shortExtract }}<br/>
                            <small><time datetime="{{image.date|date("Y-m-d")}}">{{image.date|date("jS F Y")}}</time></small>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div><!-- //.main-wrapper -->

    </div><!-- //end.carousel -->

{% endblock %}


{#
<div class="carousel__summary">
    {% if image.shortExtract|length > 1 %}
        <p>{{image.shortExtract}}</p>
    {% endif %}
    <div class="meta-info-block meta-info-block--borderless">
        <div class="meta-info-block__item">
            Photo {{loop.index}} of {{entry.carouselImages | length}} &bull; <time datetime="{{image.date|date("Y-m-d")}}">{{image.date|date("jS F Y")}}</time>
        </div>
    </div>
</div>
 #}



{% block content_side %}
<div class="wide-wrapper wide-wrapper--merch">
    <div class="item-list item-list--merch">

    <h3>Videos</h3>
    <ul>
        {% for video in craft.entries.find({section:'Videos'}) %}
            <li class="item-list__item">
                <figure>
                    {% for image in video.thumbnailImage %}
                        <a href="{{video.url}}" class="link--video"><img src="{{image.getUrl('galleryListing')}}" alt="{{video.title}} - a video by Simon Campbell"></a>
                    {% endfor %}
                </figure>
                <h5><a href="{{video.url}}">{{video.title}}</a></h5>
        </li>
        {% endfor %}
    </ul>

    <h3>Other albums</h3>
        <ul>
            {% for album in craft.entries.find({section:'Gallery', id: 'not '~entry.id}) %}
                <li class="item-list__item">
                    <figure>
                        {% for image in album.featuredImage %}
                            <a href="{{album.url}}"><img src="{{image.getUrl('galleryListing')}}"></a>
                        {% endfor %}
                    </figure>
                    <h5><a href="{{album.url}}">{{album.title}}</a></h5>
            </li>
            {% endfor %}
        </ul>

    </div><!-- //end.item-list__sub-content -->
</div><!-- //end.main-wrapper -->


<div class="side-wrapper island island--wrapper">
    <ul class="item-list island--wrapper__content">

        <li class="item-list__item item-list__item--album side-bar--album--alone">
            {% include 'components/_side-bar--album.html' %}
        </li>

        <li class="item-list__item item-list__item--live-shows">
            {% include 'components/_live-shows--alternate.html' %}
        </li>
    </ul>
</div>

{% endblock %}




