{#
 # GALLERY
 # Index Template
 # -------------------
 #
 #}


{% extends "_layout" %}

{% block content_main %}
    <div class="main-wrapper">
        <header class="heading-group heading-group--main--alternate">
            <h1>Gallery</h1>
        </header>


         <h3>Live gigging</h3>
         <p class="lede">This is my collection of photo albms detailing my extensive travels across the world of music and of life. This was a particularly joyous time because I had my old Saab 2130. Good times.</p>

        <div class="carousel">
            <nav class="carousel__nav">
                <a href="#" class="prev">Prev</a>
                <a href="#" class="next">Next</a>
            </nav>

            <div class="carousel__list-container">
                <ul class="carousel__list">
                    <li>
                        <img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_landscape.png" alt="FPO Image" />
                        <div class="carousel__summary">
                            <h4>Manchester blues</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et.</p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Saturday 14th 2013 • Photo 1 of 213
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_landscape.png" alt="FPO Image" />
                        <div class="carousel__summary">
                            <h4>Jumping back to the starts</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et.</p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Saturday 14th 2013 • Photo 1 of 213
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_landscape.png" alt="FPO Image" />
                        <div class="carousel__summary">
                            <h4>This is the first title</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et. </p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Saturday 14th 2013 • Photo 1 of 213
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_landscape.png" alt="FPO Image" />
                        <div class="carousel__summary">
                            <h4>This is the second title</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et.</p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Saturday 14th 2013 • Photo 1 of 213
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_landscape.png" alt="FPO Image" />
                        <div class="carousel__summary">
                            <h4>Thirds</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et.</p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Saturday 14th 2013 • Photo 1 of 213
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_landscape.png" alt="FPO Image" />
                        <div class="carousel__summary">
                            <h4>This is the first title</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et.</p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Saturday 14th 2013 • Photo 1 of 213
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_landscape.png" alt="FPO Image" />
                        <div class="carousel__summary">
                            <h4>This is the first title</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et. </p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Saturday 14th 2013 • Photo 1 of 213
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- //end.carousel -->

    </div><!-- //end.main-wrapper -->

{% endblock %}



{% block content_side %}

    <div class="main-wrapper main-wrapper--full">

        <h2>Other albums</h2>

        <ul class="list-block">

            <li class="list-block__item">
                <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                <h4><a href="URL">Sightings</a></h4>
            </li>

            <li class="list-block__item">
                <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                <h4><a href="URL">Manchester 1986</a></h4>
            </li>

            <li class="list-block__item">
                <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                <h4><a href="URL">Bristol 2013</a></h4>
            </li>

            <li class="list-block__item">
                <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                <h4><a href="URL">Bristol 2013</a></h4>
            </li>

        </ul>

    </div><!-- //end.main-wrapper -->

{% endblock %}



{% block scripts %}
    <script src="/static/js/carousel.js"></script>
{% endblock %}



