{#
 # GALLERY
 # Index Template
 # -------------------
 #
 #}


{% extends "_layout" %}

{% block content_main %}

    <header class="heading-group heading-group--main">
        <h1>Gallery</h1>
        <h2>Collections of photos from gigs, tours and studio sessions</h2>
    </header>

    <div class="main-wrapper main-wrapper--gallery">
         <h3>Live gigging</h3>
         <p>This collection of photos details my extensive travels across the world of music and of life on the stage. This was a particularly joyous time because I had my old Saab 2130. Good times.</p>
         <p>In 2014 I’ll be back with my band, kicking things up and making badass music on stage for everyone. But until then, check out some of my favourite pics from back in the day.</p>

    </div><!-- //end.main-wrapper -->

        <div class="carousel">
            <div class="carousel__list-container">
                <ul class="carousel__list">
                    <li>
                        <figure>
                            <img src="http://music.simoncampbell.com/uploads/images/resizer_cache/2c19b47faaacd6f8e51ee2aa88aa3577bdae3b69.jpg" alt="FPO Image" />
                        </figure>
                        <div class="carousel__summary">
                            <h4>Reading Festival</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et.</p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Photo 1 of 213 • Saturday 14th 2013
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <img src="http://music.simoncampbell.com/uploads/images/resizer_cache/12eee51655f90df9bcecf64388ccba06d53d9e88.jpg" alt="FPO Image" />
                        </figure>
                        <div class="carousel__summary">
                            <h4>Lulz and giggles</h4>
                            <p>In my younger and more vulnerable years my father gave me some advice that I’ve been turning over in my mind ever since. “Whenever you feel like criticizing any one,” he told me</p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Photo 1 of 213 • Saturday 14th 2013
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <img src="http://music.simoncampbell.com/uploads/images/resizer_cache/2c19b47faaacd6f8e51ee2aa88aa3577bdae3b69.jpg" alt="FPO Image" />
                        </figure>
                        <div class="carousel__summary">
                            <h4>This is the first title</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et. </p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Photo 1 of 213 • Saturday 14th 2013
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <img src="http://music.simoncampbell.com/uploads/images/resizer_cache/ca5aeabe3a72e7377ae9a480740078a9c55f6d46.jpg" alt="FPO Image" />
                        </figure>
                        <div class="carousel__summary">
                            <h4>This is the second title</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et.</p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Photo 1 of 213 • Saturday 14th 2013
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <img src="http://music.simoncampbell.com/uploads/images/resizer_cache/5ec72fd07097de6e75093e42489ab91dcdbb23d1.jpg" alt="FPO Image" />
                        </figure>
                        <div class="carousel__summary">
                            <h4>Thirds</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et.</p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Photo 1 of 213 • Saturday 14th 2013
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <img src="http://music.simoncampbell.com/uploads/images/resizer_cache/2b6e55d5d8b1a3dc980d328e825ba034b1e9499f.jpg" alt="FPO Image" />
                        </figure>
                        <div class="carousel__summary">
                            <h4>This is the first title</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et.</p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Photo 1 of 213 • Saturday 14th 2013
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <img src="http://music.simoncampbell.com/uploads/images/resizer_cache/53b81f72910a991fc811ca6759dbf74eef68b0cb.jpg" alt="FPO Image" />
                        </figure>
                        <div class="carousel__summary">
                            <h4>This is the first title</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget lacus erat, sit amet tempor nibh. Aliquam erat volutpat. Nulla et. </p>
                            <div class="meta-info-block meta-info-block--borderless">
                                <div class="meta-info-block__item">
                                    Photo 1 of 213 • Saturday 14th 2013
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!-- //end.carousel__list-container -->
            <nav class="carousel__nav">
                <a href="#" class="prev">
                    <span class="icon ss">navigateleft</span>
                    Previous
                </a>
                <a href="#" class="next">
                    Next
                    <span class="icon ss">navigateright</span>
                </a>
            </nav>
        </div><!-- //end.carousel -->

{% endblock %}



{% block content_side %}

    <div class="main-wrapper main-wrapper--full">
        <div class="item-list--sub-content item-list--sub-content--borderless">

            <h3>Other photo albums</h3>

            <ul class="item-list--grid">

                <li class="item-list__item">
                    <figure>
                        <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                    </figure>
                    <h5><a href="URL">Sightings</a></h5>
                </li>

                <li class="item-list__item">
                    <figure>
                        <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                    </figure>
                    <h5><a href="URL">Sightings</a></h5>
                </li>

                <li class="item-list__item">
                    <figure>
                        <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                    </figure>
                    <h5><a href="URL">Sightings</a></h5>
                </li>

                <li class="item-list__item">
                    <figure>
                        <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                    </figure>
                    <h5><a href="URL">Sightings</a></h5>
                </li>
                <li class="item-list__item">
                    <figure>
                        <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                    </figure>
                    <h5><a href="URL">Sightings</a></h5>
                </li>

                <li class="item-list__item">
                    <figure>
                        <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                    </figure>
                    <h5><a href="URL">Reading Festival</a></h5>
                </li>

                <li class="item-list__item">
                    <figure>
                        <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                    </figure>
                    <h5><a href="URL">Sightings</a></h5>
                </li>

                <li class="item-list__item">
                    <figure>
                        <a href=""><img src="http://placehold.it/300x200/0eafff/ffffff.png"></a>
                    </figure>
                    <h5><a href="URL">Sightings</a></h5>
                </li>

            </ul>

        </div><!-- //end.item-list__sub-content -->

    </div><!-- //end.main-wrapper -->

<div class="side-wrapper island island--wrapper">
    <ul class="item-list island--wrapper__content">

        <li class="item-list__item item-list__item--album">
            {% include 'components/_side-bar--album.html' %}
        </li>

        <li class="item-list__item">
            {% include 'components/_live-shows--alternate.html' %}
        </li>
    </ul>
</div>

{% endblock %}



{% block scripts %}
    <script src="/static/js/carousel.js"></script>
{% endblock %}



