{#
 # NEWS
 # Archive Template
 # -------------------
 #
 #}


{% extends "_layout" %}

{% block content_main %}

    <header class="heading-group heading-group--main">
        <h1>News</h1>
        <h2>An archive of old posts</h2>
    </header>

    <div class="main-wrapper main-wrapper--article" role="main">
        <h3>2013</h3>

        <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>

        <div class="item-list--sub-content item-list--sub-content--alternate">
            <h3>2012</h3>
        </div>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <div class="item-list--sub-content item-list--sub-content--alternate">
            <h3>2011</h3>
        </div>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>


    </div><!-- //end.main-wrapper -->


{% endblock %}



{% block content_side %}

    <div class="island side-wrapper">

        <ul class="item-list">

            <li class="item-list__item item-list__item--sidebar">

                {% include 'components/_news/_news-category' %}

            </li>

            <li class="item-list__item item-list__item--sidebar">
                <h4>Subscribe via RSS</h4>
                <a href="URL!" class="link--icon">
                    <span class="icon ss ss-inbox">inbox</span>
                    Get regular updates from the blog
                </a>
            </li>

            <li class="item-list__item item-list__item--album">
                {% include 'components/_side-bar--album.html' %}
            </li>

            <li class="item-list__item">
                {% include 'components/_live-shows--alternate.html' %}
            </li>

        </ul>



    </div><!-- // end.island side-wrapper -->

{% endblock %}
