{#
 # NEWS
 # Detail Template
 # -------------------
 #
 #}

{% extends "_layout" %}

{% block content_main %}

    <header class="heading-group heading-group--main">
        <h1>News</h1>
        <h2>This is an alternative headline that is not optional</h2>
    </header>

    <div class="main-wrapper main-wrapper--article item-list--news" role="main">
        <article>
            {% for image in entry.standardImage %}
                <figure>
                    <img src="{{image.url}}"/>
                    <p>{{news.caption}}</p>
                </figure>
            {% endfor %}

            <div class="heading-group heading-group--marginless">
                <h3>{{ entry.title }}</h3>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{entry.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>

            {{ entry.body }}

        </article>
    </div><!-- //end.main-wrapper -->


{% endblock %}



{% block content_side %}

    <div class="side-wrapper island island--wrapper">

        <ul class="item-list island--wrapper__content">

            <li class="item-list__item item-list__item--sidebar">

                {% include 'components/_news/_news-category' %}

            </li>

            <li class="item-list__item item-list__item--sidebar">
                <h4>Subscribe via RSS</h4>
                <a href="URL!" class="link--icon">
                    <span class="icon ss ss-inbox">inbox</span>
                    Get regular updates from the blog
                </a>
            </li>

            <li class="item-list__item item-list__item--album">
                {% include 'components/_side-bar--album.html' %}
            </li>

            <li class="item-list__item item-list__item--live-shows">
                {% include 'components/_live-shows--alternate.html' %}
            </li>

        </ul>



    </div><!-- // end.island side-wrapper -->

{% endblock %}
