{#
 # NEWS
 # Index Template
 # -------------------
 #
 #}


{% extends "_layout" %}

{% block content_main %}

    <header class="heading-group heading-group--main">
        <h1>News</h1>
        <h2>This is an alternative headline that is not optional</h2>
    </header>


    <div class="main-wrapper main-wrapper--article">

        <ul class="item-list">
            {% for news in craft.entries.find({section:'News',limit:'15' }) %}
                <li class="item-list__item item-list__item--article">
                    <article>

                        <div class="heading-group">

                            <h3><a href="{{ news.url }}">{{ news.title }}</a></h3>

                            <div class="meta-info-block meta-info-block--borderless">
                                <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                                <p class="meta-info-block__item">Posted in
                                    <a class="category-link" href="URL!">
                                        <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                        Life
                                    </a>,
                                    <a class="category-link" href="URL!">
                                        <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                        Health
                                    </a>
                                </p>
                            </div>

                        </div>

                        {% for image in news.standardImage %}
                            <figure>
                                <img src="{{image.url}}"/>
                                <figcaption><p>{{news.caption}}</p></figcaption>
                            </figure>
                        {% endfor %}


                        {{ news.body }}


                    </article>
                </li>
            {% endfor %}
        </ul>

        <a href="URL!" class="btn btn--icon btn--primary btn--arrow-left">
            <span class="icon ss-rewind">rewind</span>
            <div class="icon-text">
                Older entries
            </div>
        </a>

    </div>

{% endblock %}


{% block content_side %}

    <div class="side-wrapper side-wrapper--island">

        <ul class="item-list item-list--side">

            <li class="item-list__item">

                {% include 'components/_news/_news-category' %}

            </li>

            <li class="item-list__item">
                <h4>Subscribe via RSS</h4>

                <a href="URL!" class="link--icon">
                    <span class="icon ss ss-inbox">inbox</span>
                    Get regular updates from the blog
                </a>
            </li>
        </ul>

        {% include 'components/_side-bar.html' %}

    </div><!-- // end.side-wrapper -->

{% endblock %}