{#
 # NEWS
 # Index Template
 # -------------------
 #
 #}


{% extends "_layout" %}

{% block content_main %}

    <header class="heading-group heading-group--main">
        <h1>News</h1>
        <h2>This is an alternative headline that is not optional</h2>
    </header>


    <div class="main-wrapper">

        <ul class="item-list">
            {% for news in craft.entries.find({section:'News',limit:'15' }) %}
                <li class="item-list__item">
                    <article>
                        {% for image in news.standardImage %}
                            <figure>
                                <img src="{{image.url}}"/>
                                <p>{{news.caption}}</p>
                            </figure>
                        {% endfor %}

                        <div class="heading-group">

                            <h3><a href="{{ news.url }}">{{ news.title }}</a></h3>

                            <div class="meta-info-block meta-info-block--borderless">
                                <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                                <p class="meta-info-block__item">Posted in <a href="URL!" class="icon icon--tag">Life</a>, <a href="URL!" class="icon icon--tag">Health</a></p>
                            </div>

                        </div>


                        {{ news.body }}


                    </article>
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}


{% block content_side %}

    <div class="side-wrapper side-wrapper--island">

        <ul class="item_list--side">

            <li class="item_list__item">

                {% include 'components/_news/_news-category' %}

            </li>

            <li class="item_list__item">
                <h3>Subscribe via RSS</h3>

                <a href="URL!" class="icon-text"><i class="icon-text__icon">RSS</i> Get regular updates from the blog</a>
            </li>
        </ul>

        {% include 'components/_side-bar.html' %}

    </div><!-- // end.side-wrapper -->

{% endblock %}