@if $use-beautons == true{

/*------------------------------------*\
    $BEAUTONS
\*------------------------------------*/
/**
 * beautons is a beautifully simple button toolkit.
 *
 * @csswizardry -- csswizardry.com/beautons
 *
 *
 *
 * <a href="URL!" class="btn btn--icon btn--primary btn--arrow-left">
 *     <span class="icon ss-rewind">rewind</span>
 *     <div class="icon-text">
 *          Older entries
 *     </div>
 * </a>
 *
 *
 */



/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base button styles.
 */
.btn{
    @extend %font__display--black;
    @include vendor(border-radius, $brand-round);
    @include transition(.15s all ease-in-out);
    font-size: $milli-size;
    font-size: calc-rem($milli-size);
    display:inline-block;
    vertical-align:top;
    white-space:nowrap;
    cursor:pointer;
    border:none;
    margin:0;
    padding-top:0;
    padding-bottom:0;
    line-height:2.5;
    padding-right:1em;
    padding-left: 1em;

    &:active,
    &:focus {
        outline:none;
    }
}

    .btn--primary {
        background-color: $color__orange--secondary;
        border: 1px solid $color__border--orange;
        color: $color__white;

        &:hover,
        &:focus {
            color: $color__white;
            text-decoration: none;
            background-color: $color__orange--dark;
            border: 1px solid darken($color__border--orange, 5);
        }

        &:active {
            background-color: darken($color__orange--dark, 5);
            border: 1px solid darken($color__border--orange, 10);
        }

        .icon {
            background-color: $color__orange--dark;
        }
    }


    .btn--secondary {
        background-color: $color__grey--primary;
        border: 1px solid darken($color__grey--primary, 10);

        &:hover,
        &:focus {
            background-color: $color__grey--secondary;
            border: 1px solid darken($color__grey--secondary, 10);
        }

        &:active {
            background-color: darken($color__grey--secondary, 5);
            border: 1px solid darken($color__grey--secondary, 10);
        }
    }

    .btn--purple {
        background-color: $color__purple;
        border: 1px solid darken($color__purple,10);
        color: $color__white;

       &.btn--icon .icon {
            background-color: darken($color__purple,10);
            border-right: 1px solid darken($color__purple,10);
        }

        &:hover,
        &:focus {
            background-color: darken($color__purple,10);
            border: 1px solid darken($color__purple,15);
            color: $color__white;

            &.btn--icon .icon {
                background-color:darken($color__purple,18);
                border-right: 1px solid darken($color__purple,21);
            }
        }

        &:active {
            background-color: darken($color__purple,15);
            border: 1px solid darken($color__purple,20);
        }
    }

    .btn--green {
        background-color: $color__green;
        border: 1px solid darken($color__green,10);
        color: $color__white;

       &.btn--icon .icon {
            background-color: darken($color__green,10);
            border-right: 1px solid darken($color__green,10);
        }

        &:hover,
        &:focus {
            background-color: darken($color__green,10);
            border: 1px solid darken($color__green,15);
            color: $color__white;

            &.btn--icon .icon {
                background-color:darken($color__green,18);
                border-right: 1px solid darken($color__green,21);
            }
        }

        &:active {
            background-color: darken($color__green,15);
            border: 1px solid darken($color__green,20);
        }
    }


    .btn--secondary--on-black-bg {
        color: darken($color__meta--dark,10);
        background-color: $color__grey--secondary;
        border: 1px solid darken($color__grey--secondary, 10);

        &:hover {
            background-color: darken($color__grey--secondary, 15);
            border: 1px solid darken($color__grey--secondary, 20);
        }

        &:active {
            background-color: darken($color__grey--secondary, 20);
            border: 1px solid darken($color__grey--secondary, 25);
        }
    }

    .btn--icon {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        line-height: 0;

        .icon {
            @include transition(.2s all ease-in-out);
            display: inline-block;
            line-height: 2.5;
            height: 37px;
            height: calc-rem(37px);
            margin-top: -3px;
            margin-top: - calc-rem(3px);
            width: ($base-spacing-unit * 2);
            width: calc-rem($base-spacing-unit * 2);
            font-size: $base-font-size;
            font-size: calc-rem($base-font-size);
            text-align: center;
            border-right: 1px solid darken($color__border--orange, 2);
        }

        &:hover .icon {
            border-right: 1px solid darken($color__border--orange, 5);
            background-color: darken($color__orange--dark, 5);
        }

        .icon-text {
            padding-left: $half-spacing-unit;
            padding-left: calc-rem($half-spacing-unit);
            line-height: 2.5;
            display:inline-block;
        }
    }





/*------------------------------------*\
    $SIZES
\*------------------------------------*/
/**
 * Button size modifiers.
 *
 * These all follow the same sizing rules as above; text is 1em, space around it
 * remains uniform.
 */
.btn--small{
    padding-right: $half-spacing-unit;
    padding-right: calc-rem($half-spacing-unit);
    padding-left: $half-spacing-unit;
    padding-left: calc-rem($half-spacing-unit);
    line-height:1.8;
    font-size: $milli-size;
    font-size: calc-rem($milli-size);
}

.btn--large{
    padding-right:1.5em;
    padding-left: 1.5em;
    line-height:4;
}

/**
 * These buttons will fill the entirety of their container.
 *
 * 1. Remove padding so that widths and paddings don’t conflict.
 */
.btn--full{
    width:100%;
    padding-right:0;            /* [1] */
    padding-left: 0;            /* [1] */
    text-align:center;
}






/*------------------------------------*\
    $FUNCTIONS
\*------------------------------------*/
/**
 * Positive actions; e.g. sign in, purchase, submit, etc.
 */
.btn--positive{
    background-color:#4A993E;
    color:#fff;
}

/**
 * Negative actions; e.g. close account, delete photo, remove friend, etc.
 */
.btn--negative{
    background-color:#b33630;
    color:#fff;
}


}//endif
