@if $use-beautons == true{

/*------------------------------------*\
    $BEAUTONS
\*------------------------------------*/
/**
 * beautons is a beautifully simple button toolkit.
 *
 * @csswizardry -- csswizardry.com/beautons
 *
 */



/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base button styles.
 */
.btn{
    @extend %font__display--normal;
    @include vendor(border-radius, $brand-round);
    @include transition(.15s all ease-in-out);
    font-size: $milli-size;
    font-size: calc-rem($milli-size);
    display:inline-block;
    vertical-align:top;
    white-space:nowrap;
    cursor:pointer;
    border:none;
    margin:0;
    padding-top:0;
    padding-bottom:0;
    line-height:2.4;
    padding-right:1em;
    padding-left: 1em;

    &:active,
    &:focus {
        outline:none;
    }
}

.btn--primary {
    @extend %font__display--black;
    background-color: $color__orange--secondary;
    border: 1px solid $color__border--orange;
    color: $color__white;

    &:hover {
        color: $color__white;
        text-decoration: none;
        background-color: $color__orange--dark;
        border: 1px solid darken($color__border--orange, 5);
    }

    &:active {
        background-color: darken($color__orange--dark, 5);
        border: 1px solid darken($color__border--orange, 10);
    }
}


.btn--secondary {
    background-color: $color__grey--primary;
    border: 1px solid darken($color__grey--primary, 10);

    &:hover {
        background-color: $color__grey--secondary;
        border: 1px solid darken($color__grey--secondary, 10);
    }

    &:active {
        background-color: darken($color__grey--secondary, 5);
        border: 1px solid darken($color__grey--secondary, 10);
    }
}


.btn--secondary--on-black-bg {
    color: darken($color__meta--dark,10);
    background-color: $color__grey--secondary;
    border: 1px solid darken($color__grey--secondary, 10);

    &:hover {
        background-color: darken($color__grey--secondary, 15);
        border: 1px solid darken($color__grey--secondary, 20);
    }

    &:active {
        background-color: darken($color__grey--secondary, 20);
        border: 1px solid darken($color__grey--secondary, 25);
    }
}





/*------------------------------------*\
    $SIZES
\*------------------------------------*/
/**
 * Button size modifiers.
 *
 * These all follow the same sizing rules as above; text is 1em, space around it
 * remains uniform.
 */
.btn--small{
    padding-right: $half-spacing-unit;
    padding-right: calc-rem($half-spacing-unit);
    padding-left: $half-spacing-unit;
    padding-left: calc-rem($half-spacing-unit);
    line-height:1.8;
    font-size: $milli-size;
    font-size: calc-rem($milli-size);
}

.btn--large{
    padding-right:1.5em;
    padding-left: 1.5em;
    line-height:4;
}

/**
 * These buttons will fill the entirety of their container.
 *
 * 1. Remove padding so that widths and paddings don’t conflict.
 */
.btn--full{
    width:100%;
    padding-right:0;            /* [1] */
    padding-left: 0;            /* [1] */
    text-align:center;
}






/*------------------------------------*\
    $FUNCTIONS
\*------------------------------------*/
/**
 * Positive actions; e.g. sign in, purchase, submit, etc.
 */
.btn--positive{
    background-color:#4A993E;
    color:#fff;
}

/**
 * Negative actions; e.g. close account, delete photo, remove friend, etc.
 */
.btn--negative{
    background-color:#b33630;
    color:#fff;
}


}//endif
