 /*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/
/**
 * Based on Brad Frost’s fluid carousel:
 * http://codepen.io/bradfrost/full/tdacu
 */

.carousel {
    @include rems(margin-top, $base-spacing-unit);
    position: relative;
    list-style: none;

    .js & {
        @include rems(margin-bottom, $half-spacing-unit);
        color: darken($color__white,10);
    }

    .no-js & {
        @extend .main-wrapper;
    }
}

    .carousel__list-container {
        @extend .cf;
        overflow: hidden;
        position: relative;
        z-index: 0;

        h4 {
            margin-bottom: 0;
        }
    }

    .carousel__list {

        .js & {
            @extend .cf;
            margin-bottom: 0;
            width: 99999em;
            position: relative;
            left: 0;
            background-color: $color__background--dark;
        }
    }

    .carousel__list.animating {
        @include transition(left .25s ease-out);
    }

    .carousel li {
        float: left;
        position: relative;

        .no-js & {
            @include rems(margin-bottom, $base-spacing-unit * 2);
        }

        &:before {
            content:"";
            display: none;
        }

        .js & {
            > figure {
                @include rems(max-height, 722);
                margin: 0;
                background-color: $color__background--black;

                img {
                    width: 100%;
                }
            }
        }
    }
    .carousel li a,
    .carousel img {
        display: block;
    }

    .carousel img {
        margin: 0 auto;
    }


    .carousel__summary {
        width: 100%;

        .js & {
            @include rems(padding, $base-spacing-unit);
            border-top: 1px solid $color__background--black;

            @include breakpoint($breakpoint__small){
                @include max-width(12);
                @include rems(padding, $gutter);
                @include rems(padding-bottom, $half-spacing-unit);
                margin: 0 auto;
            }

            @include breakpoint(700px){
                @include width(5);
                @include rems(padding, $half-spacing-unit);
                @include rems(padding-left, $base-spacing-unit);
                position: absolute;
                bottom: 0;
                background-color: rgba(58,58,58, .7);
                border: 1px solid $color__background--dark;
                border-left: none;
            }

            p,
            .meta-info-block {
                @include rems(font-size, $milli-size);
            }

            h4 {
                @include rems(font-size, $h5-size);
                color: $color__white;
            }

        }

        p {
            @extend %font__text--italic;
            @include rems(padding-bottom, $quarter-spacing-unit);
            @include rems(margin-bottom, $quarter-spacing-unit);
            @include rems(max-width, 450);
            border-bottom: 1px dotted darken($color__meta--on-bg, 20);
        }

        .meta-info-block {
            margin-bottom:0;
        }

        p,
        .meta-info-block {
            @include rems(font-size, $milli-size);
        }
    }

    /**
     * Media
     * Conditional CSS: http://adactio.com/journal/5429/
     */

    /* Medium */
    @media screen and (min-width: 35em) {
        body:after {
            content: 'medium';
            display: none;
        }
    }


    /* Large */
    @media screen and (min-width: 56.25em) {
        body:after { /* Conditional CSS http://adactio.com/journal/5429/ */
            content: 'large';
            display: none;
        }
    }

    /*Large with room to spare on either side */
    @media screen and (min-width: 69em) {
        .carousel__summary {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            color: #fff;
            background: rgba(0,0,0,0.2);
        }
    }



/**
 * Navigation items that controls the animations of the carousel
 */
.carousel__nav {

    .no-js & {
        display: none;
    }

    @extend %font__display--normal;
    @extend .cf;
    @include rems(font-size, $milli-size);
    position: absolute;
    top: 0;
    width: 100%;
    clear: both;
    border: 1px solid $color__background--black;

    @include breakpoint(680px) {
        border: none;
        top: 27%;
    }

    @include breakpoint(750px){
        top: 30%;
    }

    a {
        @include transition(all .25s ease-out);
        @include rems(padding, $half-spacing-unit, 16);
        float: left;
        width: 50%;
        border-bottom:none;
        color: $color__white;
        cursor: pointer;
        background-color: $color__background--black;
        opacity: .7;

        @include breakpoint(680px){
            @include rems(height, 120);
            @include rems(font-size, $h1-size);
            @include rems(padding, $quarter-spacing-unit);
            position: absolute;
            width: auto;
            color: #fff;
            padding-left: 0;
            padding-right: 0;
            display: table;
            background-color: lighten($color__background--black, 10);
            border: 1px solid $color__background--dark;
            opacity: .7;

            .carousel__nav__text {
                display: none;
            }

            &:hover,
            &:focus {
                background-color: $color__background--black;
            }
        }

        &.next {
            border-left: 1px solid $color__background--dark;
            text-align: right;
            float: right;

            @include breakpoint(680px){
                left: auto;
                right: 0;
                border-right: none;
                line-height: 1;
            }
        }

        &.prev {
            @include breakpoint(680px){
                border-left: none;
                left: 0;
                line-height: 1;
            }
        }

        &.inactive {
            opacity: 0.2;
        }

        &:hover,
        &:focus {
            @include breakpoint(max-width 680px){
                border-bottom:none;
                background-color: darken($color__background--dark, 20);
            }

            .icon {
                color: $color__white;
            }
        }
    }

    .icon {
        @include transition(all .25s ease-in-out);
        @include rems(vertical-align, - 2);
        color: $color__meta;

        @include breakpoint(680px){
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
}

