@if $use-icon == true{

/*------------------------------------*\
    $ICON
\*------------------------------------*/
/**
 * For text-links etc that have an icon with them:
 *
 * <li><i aria-hidden="true" class="icon--facebook"></i> Facebook</li>
 */


.icon-list {
    list-style-type: none;

    >li {
        margin-bottom: $half-spacing-unit;
    }

    a {
        border: none;
    }
}


.icon {
    @extend %font__icon--gizmo;
    display:inline;
    vertical-align: middle;
    line-height: 0;
    padding-right: $quarter-spacing-unit - 5px;
    padding-right: calc-rem($quarter-spacing-unit - 5px);
}

    .icon-text--rev > .icon-text__icon{
        margin-left: calc-rem($half-spacing-unit / 2);
    }



    .icon--menu {
        color: $color__banner-nav--dark;
    }


    .icon--tag {
        padding-right: 0;
        margin-right: -2px;
        margin-right: calc-rem(-2px);
    }

} //endif