@if $use-icon == true{

/*------------------------------------*\
    $ICON
\*------------------------------------*/
/**
 * For text-links etc that have an icon with them:
 *
 *  <a href="URL!" class="link--icon">
 *      <span class="icon ss ss-inbox">inbox</span>
 *      Get regular updates from the blog
 *  </a>
 */


.icon-list {
    list-style-type: none;

    >li {
        margin-bottom: $half-spacing-unit;

        &:before {
            display:none;
        }
    }

    a {
        border: none;
    }
}


.icon {
    @extend %font__icon--gizmo;
    display:inline;
    vertical-align: middle;
    line-height: 0;
    padding-right: $quarter-spacing-unit - 5px;
    padding-right: calc-rem($quarter-spacing-unit - 5px);
}

    .icon-text--rev > .icon-text__icon{
        margin-left: calc-rem($half-spacing-unit / 2);
    }

    .icon--menu {
        color: $color__banner-nav--dark;
        padding-right: 2px;
        padding-right: calc-rem(2px);
    }


    .icon--tag {
        padding-right: 0;
        margin-right: -2px;
        margin-right: calc-rem(-2px);
        font-size: 14px;
        font-size: calc-rem(14px);
    }

    .ss-music {
        margin-right:-2px;
        margin-right: - calc-rem(2px);
    }

    .icon--meta {
        margin-left: - ($half-spacing-unit + 2px);
        margin-left: - calc-rem($half-spacing-unit + 2px);
        margin-right: 3px;
        margin-right: calc-rem(3px);
        color: lighten($color__meta, 15);
        font-size: calc-rem(17px);

    }


    /**
     * Social icons
     */

    $social: 'social';

    @include sprite-map-generator($social);

    .social-icon:before {
        content: "";
        display: inline-block;
        height: $half-spacing-unit;
        height: calc-rem($half-spacing-unit);
        width: $half-spacing-unit;
        width: calc-rem($half-spacing-unit);
        margin-bottom: -4px;
        margin-bottom: - calc-rem(4px);
    }

    .icon--facebook:before {
        @include svg-background($social, 'facebook');
        background-size:13px;
        margin-right:5px;
        margin-right: calc-rem(5px);
    }

    .icon--twitter:before {
        @include svg-background($social, 'twitter');
    }

    .icon--vimeo:before {
        @include svg-background($social, 'vimeo');
        margin-right:5px;
        margin-right: calc-rem(5px);
    }

    .icon--youtube:before {
        @include svg-background($social, 'youtube');
        margin-bottom: -5px;
        margin-bottom: - calc-rem(5px);
    }








} //endif