@import "social/*.png";

@if $use-icon == true{

/*------------------------------------*\
    $ICON
\*------------------------------------*/
/**
 * For text-links etc that have an icon with them:
 *
 *  <a href="URL!" class="link--icon">
 *      <span class="icon ss ss-inbox">inbox</span>
 *      Get regular updates from the blog
 *  </a>
 */


.ss {
    .lt-ie8 & {
        display: none;
    }
}


.icon-list {
    @include vendor('column-count', 2);
    list-style-type: none;

    >li {
        padding-left: 0;
        @include rems(margin-bottom, $half-spacing-unit);

        &:before {
            display:none;
        }

        a {
            &:hover,
            &:focus {
                border:none;

                &:before {
                    // @include transition(.25s all ease-in-out); // removed as causing strange bug in Chrome
                    opacity: .5;
                }
            }
        }
    }

    a {
        border: none;
    }

}


.icon {
    @extend %font__icon--gizmo;
    @include rems(padding-right, $quarter-spacing-unit - 5);
    display:inline;
    vertical-align: middle;
    line-height: 0;
}

    .icon-text--rev > .icon-text__icon{
        @include rems(margin-left, $quarter-spacing-unit);
    }

    .icon--menu {
        color: $color__banner-nav--dark;
        @include rems(padding-right, 2);
    }


    .icon--tag {
        @include rems(margin-right, -2);
        @include rems(font-size, 14);
        padding-right: 0;
    }

    .ss-music {
        @include rems(margin-right, - 2);
    }

    .icon--meta {
        display: none;

        @include respond-to("large and above"){
            display: inline-block;
            @include rems(margin-left, - 28);
            @include rems(margin-right, 3);
            @include rems(font-size, 17);
            color: lighten($color__meta, 15);
        }
    }


    /**
     * Social icons
     */

    $social: 'social';


    .social-icon:before {
        @include rems(height, 25);
        @include rems(width, 18);
        @include rems(margin-bottom, - 10);
        content: "";
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
    }

    .icon--facebook:before {
        @include svg-bkgd($social, facebook);
        @include rems(margin-right, 5);
    }

    .icon--twitter:before {
        @include svg-bkgd($social, twitter);
    }

    .icon--vimeo:before {
        @include svg-bkgd($social, vimeo);
        @include rems(margin-right, 5);
    }

    .icon--pinterest:before {
        @include svg-bkgd($social, pinterest);
        @include rems(margin-right, 5);
    }

    .icon--youtube:before {
        @include svg-bkgd($social, youtube);
    }
} //endif