@if $use-island == true{

/*------------------------------------*\
    $ISLAND
\*------------------------------------*/
/**
 * Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object
 * E.g.:
 *
   <div class=island>
       I am boxed off.
   </div>
 *
 * Demo: jsfiddle.net/inuitcss/u8pV3
 *
 */
.island {
    @extend .cf;
    display:block;
    background-color:$color__background--grey;
    border-top: 1px solid $color__border--standard;


    .main-wrapper--article__detail & {
        margin-right:- $base-spacing-unit;
        margin-left:- $base-spacing-unit;
        margin:0 -calc-rem($base-spacing-unit) 0 -calc-rem($base-spacing-unit);

        @include breakpoint($breakpoint__small){
            margin: 0;
            border-left: 1px solid $color__border--standard;
            border-right: 1px solid $color__border--standard;
            border-top: 1px solid $color__border--standard;
            border-bottom: none;

            .island__header {
                border: none;
                border-bottom: 1px solid $color__border--standard;
            }
        }
    }

    &.side-wrapper {
        padding-top: $base-spacing-unit * 2;
        padding-top: calc-rem($base-spacing-unit * 2);
        padding-bottom: $base-spacing-unit * 2;
        padding-bottom: calc-rem($base-spacing-unit * 2);

        @include breakpoint($breakpoint__small){
            @include max-width(7);
            border-top: 1px solid $color__border--standard;
            padding: ($base-spacing-unit*2) ($gutter *2);
            padding: calc-rem($base-spacing-unit*2) calc-rem($gutter *2);
        }

        h3 {
            margin-bottom: $half-spacing-unit;
            margin-bottom: calc-rem($half-spacing-unit);
        }
    }
}


    .island__header {
        background-color: darken($color__background--grey, 5);
        padding: $half-spacing-unit $base-spacing-unit;
        padding: calc-rem($half-spacing-unit) calc-rem($base-spacing-unit);
        border: 1px solid $color__border--standard;
        border-top: none;
        margin-bottom:0;

        h4 {
            vertical-align: bottom;
            margin: 0;
        }
    }

    .island__content {
        padding: $gutter;
        padding: calc-rem($gutter);
        border: 1px solid $color__border--standard;
        border-top: none;
    }

    .island > :last-child {
      margin-bottom:0;
    }



}//endif
