@if $use-item-list == true{

/*------------------------------------*\
    $ITEM-LIST
\*------------------------------------*/
/**
* Create a list of articles
**/

.item-list {
    list-style-type: none;
}
    .item-list__item {
        list-style-type:none;
        @include rems(margin-bottom, $base-spacing-unit * 2);

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: "";
            display: none;
        }

        h3 {
            margin-top: 0;
        }

        .wide-wrapper--recent-entries & {
            @include breakpoint(720px){
                @include rems(margin-right, $base-spacing-unit);
                @include rems(margin-bottom, 20);
                float: left;
                width: 48.4%;
                border-bottom: none;
                padding-bottom: 0;

                &:nth-child(2n){
                    margin-right: 0;
                }
            }
        }
    }

    li.item-list__item:before {
        display: none;
    }

    .item-list__item--half {
        @include rems(margin-bottom, $half-spacing-unit);
    }

    /**
    * For item lists that follow the main content section.
    * Examples: recordings/
    **/

    .item-list--sub-content {
        @include rems(padding-top, $base-spacing-unit);
        @include rems(margin-top, $base-spacing-unit);
        border-top: 1px dotted $color__border--standard;

        >h3 {
            margin-bottom:0;
        }

        &.item-list--sub-content--alternate {
            @include rems(margin-bottom, $base-spacing-unit);
        }

        .main-wrapper--archive &:first-of-type {
            border-top: none;
            padding-top: 0;
            margin-top: 0;
        }
    }

    .item-list--sub-content--borderless {
        @include rems(padding-top, $base-spacing-unit);
        border: none;

        > h3 {
            @include rems(margin-bottom, $base-spacing-unit);
        }
    }

    /**
    * Throw a list of items into grid mode
    **/
    .item-list--grid {
        @include vendor(column-count, 2);
        @include vendor(column-gap, $base-spacing-unit);
        @include vendor(column-gap, calc-rem($base-spacing-unit));

        .item-list__item {
            -webkit-column-break-inside: avoid;
            @include column-break-inside(avoid);

            &:before {
                display: none;
            }
        }

        figure {
            margin-bottom: 0;
        }
    }


.item-list--bordered {
    .item-list__item {
        @include rems(padding-top, $base-spacing-unit);
        @include rems(margin-bottom, $base-spacing-unit);
        border-top: 1px dotted darken($color__border--standard, 5);
    }
}


    /**
    * Item list article
    **/

    .item-list--article {
    }


    .item-list__item--article {
        @include rems(margin-bottom, $base-spacing-unit);
        @include rems(padding-bottom, $base-spacing-unit);
        border-bottom: 1px dotted $color__border--standard;

        &:last-of-type {
            border:none;
        }

        p {
            margin-bottom: 0;
        }
    }


    /**
    * Item lists in the side bar
    **/
    .item-list__item {
        h4,
        .label--headline {
            margin-bottom: 0;
        }
    }



/**
* Equipment categories listing
**/
.item-list--equipment,
.item-list--gallery,
.item-list--merch {

    ul {
        @extend .cf;
        @include breakpoint($breakpoint--small){

            h3 {
                width: 100%;
            }
        }

        .item-list__item {
            float: left;
            width: 100%;
            @include rems(margin-bottom, $base-spacing-unit);


            @include breakpoint(500px){
                width: 46%;

                //mobile styles for 2c grid
                &:nth-child(odd){
                    @include rems(margin-right, $base-spacing-unit);
                    clear: left;
                }
            }

            @include breakpoint(680px){
                width: 48%;
            }

            // tablet styles for 3c grid

                @include breakpoint(700px){
                    @include rems(margin-right, $base-spacing-unit);
                    width:31%;

                    &:nth-child(odd){
                        clear: none;
                    }

                    &:nth-child(3n){
                        margin-right: 0;
                    }

                    &:nth-child(3n + 1){
                        clear: left;
                    }
                }

            // desktop styles
                @include breakpoint(920px){
                    width: 31.7%;
                }

                @include breakpoint(1260px){
                    width: 32%;
                }

        }
    }

    p {
        @include rems(font-size, $milli-size);
    }

    li figure {
        @include rems(margin-bottom, $half-spacing-unit / 2);
    }
}



    .item-list--equipment {
        >ul {
            >.item-list__item {
                @include breakpoint(700px $breakpoint__large){
                    width: 48%;

                    &:nth-child(odd){
                        @include rems(margin-right, $base-spacing-unit);
                    }

                    &:nth-child(2n){
                        margin-right: 0;
                    }

                    &:nth-child(3n + 1){
                        clear: none;
                    }
                }

                @include breakpoint($breakpoint__large) {
                    @include rems(margin-bottom, $base-spacing-unit);
                }
            }
        }
    }

    .item-list__item--equipment {

        @include breakpoint(680px){
            width: 49%;
            vertical-align: top;
            float: right;
        }

        p {
            @include rems(margin-bottom, $half-spacing-unit);
        }

    }


.item-list--equipment-meta {
    @include vendor(column-count, 2);
    @include vendor(column-gap, $base-spacing-unit);
    @include vendor(column-gap, calc-rem($base-spacing-unit));
    @include rems(margin-top, $base-spacing-unit);
    @include rems(margin-bottom, $base-spacing-unit * 2);
    @include rems(padding-top, $base-spacing-unit);
    border-top: 1px dotted $color__border--standard;

    @include breakpoint($breakpoint__large){
        @include vendor(column-count, auto);
        border-top: none;
        padding-top: 0;
    }

    figure {
        margin-bottom: 0;
    }

    .item-list__item {
        @include column-break-inside(avoid);
        @include rems(font-size, $milli-size - 1);

        @include breakpoint($breakpoint__large) {
            @include rems(margin-bottom, $base-spacing-unit);
        }

        h4 {
            @extend %font__text--bold;
            @include rems(font-size, $milli-size);
            margin: 0;
        }

        &:last-child {
            @include rems(margin-bottom, $base-spacing-unit);
        }
    }
}


.item-list--gallery,
.item-list--merch {
    @include rems(margin-bottom, $base-spacing-unit * 2);

    h5 {
        margin-bottom: 0;
    }
}




.item-list__item--sidebar {
    @include rems(padding-bottom, $base-spacing-unit);
    @include rems(margin-bottom, $base-spacing-unit);
    border-bottom: 1px solid lighten($color__border--standard, 3);

    @include breakpoint(650px){
        @include rems(padding-bottom, $half-spacing-unit);
        @include rems(margin-bottom, $base-spacing-unit);
        border: none;
        float: left;
        width: 48%;

        &:nth-child(odd) {
            @include rems(margin-right, $base-spacing-unit);
        }
    }

    @include breakpoint($breakpoint__large) {
        @include rems(margin-bottom, $base-spacing-unit * 2);
        margin-right: 0;
        padding-right: 0;
        width: 100%;

        &:nth-child(odd) {
            margin-right: 0;
        }

        h4 {
            @include rems(margin-right, - 90);
            @include rems(margin-left, - $base-spacing-unit);
            @include rems(margin-bottom, $base-spacing-unit / 2);
            @include rems(padding-top, $half-spacing-unit);
            @include rems(padding-left, $base-spacing-unit);
            @include rems(padding-right, - 90);
            @include rems(padding-bottom, $half-spacing-unit - 3);
            background-color: $color__sidebar--bg;
            border-top: 1px solid $color__border--standard;
            border-bottom: 1px solid $color__border--standard;
            line-height: 1.5;
        }

        &:first-of-type {
            h4 {
                border-top: none;
            }
        }
    }

    &.item-list__item--sidebar--only {
        @include rems(padding-bottom, $base-spacing-unit);
        width: 100%;
        border-bottom: 1px dotted $color__border--standard;

        @include breakpoint($breakpoint__medium $breakpoint__large) {
            @include rems(padding-bottom, $base-spacing-unit * 1.5);
            @include rems(margin-bottom, $base-spacing-unit * 2);
        }

        @include breakpoint($breakpoint__large) {
            @include rems(margin-bottom, $base-spacing-unit);
            border: none;
        }
    }

    &:only-of-type {
        width: 100%;
    }



    &:last-child {
        border-bottom: none;
    }

    > p {
        margin-bottom:0;
    }
}


/**
* Live shows in the sidebar
**/

.item-list__item--live-shows {
    @include breakpoint(680px $breakpoint__large) {
        @include rems(padding-right, $gutter);
        width: 50%;
        float: left;
        margin-bottom: 0;
    }

    @include breakpoint($breakpoint__large){
        width: 100%;
        float: left;
    }
}


/**
* Album item listing
**/
.item-list--album {
    @extend .cf;

    @include breakpoint($breakpoint__large){
        .item-list__item--recording {
            @include rems(margin-right, $base-spacing-unit);
            float: left;
            width: 48.7%;
            border-bottom: none;

            &:nth-child(2n){
                margin-right: 0;
            }

            p {
                @include rems(font-size, 16);
            }
        }
    }

    @include breakpoint(1260px) {
        .item-list__item--recording {
            width: 31.4%;

            &:nth-child(2n){
                @include rems(margin-right, $base-spacing-unit);
            }

            &:nth-child(3n){
                margin-right: 0;
            }
        }
    }

    p {
        margin-bottom: 0;
    }

    .flag {
        @include rems(margin-bottom, $half-spacing-unit);
    }
    .flag__image {
        @include width(2);
    }

    .flag__body {
        h3,
        h4 {
            margin: 0;
        }
    }
}


    /**
     * Album in sidebar
     */
    .item-list__item--album {
        @extend .cf;
        @include rems(margin-bottom, $base-spacing-unit * 2);
        padding-bottom: 0;

        @include breakpoint(680px $breakpoint__large) {
            float: right;
            clear: left;
            width: 49%;
            margin-bottom: 0;
        }


        @include breakpoint($breakpoint__large) {
            @include rems(margin-bottom, $base-spacing-unit * 2);
            float: left;
            width: 100%;
        }

        .media {
            margin:0;

            // remove the media object from tablet sizes to desktop.
            @include breakpoint(680px $breakpoint__large) {
                .media__img {
                    @include rems(margin-bottom, $base-spacing-unit);
                    display: block;
                    width: 100%;
                }

                .media__body {
                    width: 100%;
                    display: block;
                }
            }

            @include breakpoint($breakpoint__large) {
                width: 100%;
                float: left;

                .media__img {
                    float: left;
                    clear: both;
                }

                .media__body {
                    float: right;
                    width: 68%;
                }
            }
        }

        h3 {
            margin-bottom: 0;
        }

        .btn {
            @include rems(margin-left, $half-spacing-unit);
            float:right;
        }

        p {
            @include rems(font-size, $milli-size);
            margin-bottom:0;
        }

        &:last-of-type {
            padding-bottom: 0;
        }
    }


    .item-list__item--bookings {
        @include breakpoint(680px $breakpoint__large) {
            @include rems(padding-right, $base-spacing-unit);
            @include rems(margin-bottom, $half-spacing-unit);
            width: 50%;
            float: left;

            .island__content {
                @include rems(font-size, $milli-size);
            }
        }

        @include breakpoint($breakpoint__large){
            &:first-of-type {
                @include rems(padding-top, $base-spacing-unit);
            }
        }
    }

    .item-list__item--contact {
        @include breakpoint(680px) {
            @include rems(margin-bottom, $half-spacing-unit);
            width: 100%;
            float: left;
        }
    }





/**
* Comments item list
**/
    .item-list--comments {

        @include breakpoint(1260px){
            @include rems(max-width, 614);

        }

        &:last-child {
            @include rems(margin-bottom, $base-spacing-unit * 2);
        }

        >.flag {
            @include rems(margin-bottom, $half-spacing-unit);

            .flag__body {

                time {
                    color: $color__meta;
                    @include rems(font-size, $milli-size);
                }

                a {
                    border:none;
                }

                h3 {
                    @extend %font__text--regular;
                    @include rems(font-size, $h5-size);
                    font-weight: bold;
                    margin-bottom: 0;
                    line-height: 1;
                }
            }

            .flag__image {
                >img {
                    @include rems(max-width, 73);
                }
            }
        }
        p {
            @include rems(font-size, $milli-size);
            color: darken($color__background--dark, 10);

            @include breakpoint($breakpoint__large) {
                @include rems($base-font-size + 1);
            }
        }
    }

    /**
     * Album detail item list in /recordings/detail.html
     */
    .item-list--lyrics {
        margin-bottom: 0;
    }

    .item-list__item--reviews {
        .item-list__item {
            @include rems(margin-bottom, $base-spacing-unit);
        }
    }



    .item-list--instruments {

        .item-list__item {
            @include rems(margin-bottom, $half-spacing-unit / 2);
        }
    }

    /**
     * Featured item list on the index template
     */

    .item-list--featured {
        @include rems(margin-bottom, $base-spacing-unit);

        >.item-list__item {
            &:last-of-type {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        @include breakpoint($breakpoint__large){
            float: left;
            width: 100%;

            >.item-list__item {
                @include rems(margin-right, $base-spacing-unit);
                float: left;
                width: 31.7%;
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;

                &:last-of-type {
                    margin-right: 0;
                }

                >.heading-group h3 {
                    @include rems(font-size, 22);
                }

                p, .meta-info-block__item {
                    @include rems(font-size, $milli-size);
                }
            }
        }

        @include breakpoint(1260px){
            >.item-list__item {
                width: 32%;

                >.heading-group h3 {
                    @include rems(font-size, 24);
                }

                p {
                    @include rems(font-size, 16);
                }
            }
        }
    }


    /**
     * Item list modifier for the news template
     */
    .item-list--news {

        .item-list__item--article {

            p {
                @include rems(margin-bottom, $base-spacing-unit);
            }
        }

        @include breakpoint(680px) {
            .heading-group {
                position: relative;

                &:before {
                    content: "¶";
                    color: #ddd;
                    font-size: 2em;
                    position: absolute;
                    left: -1em;
                    top: 0;
                    line-height: 1;
                }
            }
        }
    }

    .item-list--homepage-shows {
        @include breakpoint($breakpoint__large) {
            float: left;
            width: 40%;
        }
    }

    .item-list--homepage {
        @include rems(margin-bottom, $base-spacing-unit);

        >.item-list__item {
            @include rems(margin-bottom, $base-spacing-unit);
        }

        @include breakpoint(1260px){
            .item-list__item {
                @include rems(margin-right, $base-spacing-unit);
                float: left;
                width: 30%;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        .heading-group--marginless {
            .meta-info-block {
                margin-bottom: 0;
            }
        }
    }
} //endif