@if $use-item-list == true{

/*------------------------------------*\
    $ITEM-LIST
\*------------------------------------*/
/**
* Create a list of articles
**/

.item-list {
	list-style-type: none;
}
    .item-list__item {
    	list-style-type:none;
    	margin-bottom: $base-spacing-unit * 2;
    }

} //endif