@if $use-item-list == true{

/*------------------------------------*\
    $ITEM-LIST
\*------------------------------------*/
/**
* Create a list of articles
**/

.item-list {
    list-style-type: none;
}
    .item-list__item {
        list-style-type:none;
        margin-bottom: $base-spacing-unit * 2;
        margin-bottom: calc-rem($base-spacing-unit * 2);
    }



/**
* Item list article
**/
    .item-list__item--article {
        border-bottom: 1px dotted $color__border--standard;
        margin-bottom: $base-spacing-unit;

        &:last-of-type {
            border:none;
        }
    }



/**
* Item lists in the side bar
**/
.side-wrapper .item-list__item {
    >h4,
    .label--headline {
        margin-bottom: $half-spacing-unit;
        margin-bottom: calc-rem($half-spacing-unit);
    }
}




/**
* Comments item list
**/
    .item-list--comments {
        >.flag {
            margin-bottom: $half-spacing-unit;
            margin-bottom: calc-rem($half-spacing-unit);

            .flag__body {

                time {
                    color: $color__meta;
                    font-size: $milli-size;
                    font-size: calc-rem($milli-size);
                }

                a {
                    border:none;
                }

                h3 {
                    @extend %font__text--regular;
                    font-weight: bold;
                    font-size: $h5-size;
                    font-size: calc-rem($h5-size);
                    margin-bottom: 0;
                    line-height: 1;
                }
            }
        }
        p {
            color: $color__background--dark;
            font-size: $milli-size;
            font-size: calc-rem($milli-size);
        }
    }
} //endif