/*------------------------------------*\
    $LIGHTBOX MOLECULE
\*------------------------------------*/
/* Requires: lightbox.js */

/*
 * Light box module from Brad Frosts’ Responsive Pattern Library
 * http://bradfrost.github.io/this-is-responsive/patterns.html
 */

img {
    max-width: 100%;
}

.let-there-be-light {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.let-there-be-light:hover .msg {
    background: rgba(0,0,0,0.7);
}

.msg {
    display: none;
}

.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 3em 1em;
    background: rgba(0,0,0,0.9);
  }


@media all and (min-width: 45em) {
    body:after { /* http://adactio.com/journal/5429/ */
        content: 'large';
        display: none;
    }

    .msg {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10em;
        margin-left: -5em;
        z-index: 1;
        background: rgba(0,0,0,0.5);
        color: #fff;
        border-radius: 2em;
        padding: 1em;
    }
}