{#
 # EQUIPMENT CATEGORY LISTING
 # Shown on detail and index templates
 # ----------------------
 #
 #}
<ul class="grid-list divide-4">
    <li>
        <a href="URL!"><img src="URL!"/></a>

        <div class="hgroup">
            <h2><a href="URL">Electric Guitars</a></h2>
            <span class="meta">210 articles</span>
        </div>
        <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
    </li>
    <li>
        <a href="URL!"><img src="URL!"/></a>
        <div class="hgroup">
            <h2><a href="URL">Synthesizers</a></h2>
            <span class="meta">210 articles</span>
        </div>
        <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
    </li>
    <li>
        <a href="URL!"><img src="URL!"/></a>

        <div class="hgroup">
            <h2><a href="URL">Drums</a></h2>
            <span class="meta">210 articles</span>
        </div>
        <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
    </li>
    <li>
        <a href="URL!"><img src="URL!"/></a>
        <div class="hgroup">
            <h2><a href="URL">Acoustic Guitars</a></h2>
            <span class="meta">210 articles</span>
        </div>
        <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
    </li>
    <li>
        <a href="URL!"><img src="URL!"/></a>
        <div class="hgroup">
            <h2><a href="URL">Basses</a></h2>
            <span class="meta">210 articles</span>
        </div>
        <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
    </li>
</ul>