{#
 # EQUIPMENT CATEGORY LISTING
 # Shown on detail and index templates
 # ----------------------
 #
 #}


<div class="item-list item-list--equipment">
    <h3 class="main-wrapper--article-meta__header">Instrument categories</h3>

    <ul>
        <li class="item-list__item">
            <figure>
                <a href="URL!">
                    <img src="http://www.fillmurray.com/800/600"/>
                </a>
            </figure>

            <div class="heading-group--marginless">
                <h4><a href="URL">Electric Guitars</a></h4>
            </div>
            <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
        </li>

        <li class="item-list__item">
            <figure>
                <a href="URL!">
                    <img src="http://www.fillmurray.com/800/600"/>
                </a>
            </figure>

            <div class="heading-group--marginless">
                <h4><a href="URL">Electric Guitars</a></h4>
            </div>
            <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
        </li>

        <li class="item-list__item">
            <figure>
                <a href="URL!">
                    <img src="http://www.fillmurray.com/800/600"/>
                </a>
            </figure>

            <div class="heading-group--marginless">
                <h4><a href="URL">Electric Guitars</a></h4>
            </div>
            <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
        </li>

        <li class="item-list__item">
            <figure>
                <a href="URL!">
                    <img src="http://www.fillmurray.com/800/600"/>
                </a>
            </figure>

            <div class="heading-group--marginless">
                <h4><a href="URL">Synthesizers</a></h4>
            </div>

            <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
        </li>


        <li class="item-list__item">
            <figure>
                <a href="URL!">
                    <img src="http://www.fillmurray.com/800/600"/>
                </a>
            </figure>

            <div class="heading-group--marginless">
                <h4><a href="URL">Drumkits</a></h4>
            </div>
            <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
        </li>


        <li class="item-list__item">
            <figure>
                <a href="URL!">
                    <img src="http://www.fillmurray.com/800/600"/>
                </a>
            </figure>

            <div class="heading-group--marginless">
                <h4><a href="URL">Electric Guitars</a></h4>
            </div>

            <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
        </li>

        <li class="item-list__item">
            <figure>
                <a href="URL!">
                    <img src="http://www.fillmurray.com/800/600"/>
                </a>
            </figure>

            <div class="heading-group--marginless">
                <h4><a href="URL">Electric Guitars</a></h4>
            </div>
            <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
        </li>

        <li class="item-list__item">
            <figure>
                <a href="URL!">
                    <img src="http://www.fillmurray.com/800/600"/>
                </a>
            </figure>

            <div class="heading-group--marginless">
                <h4><a href="URL">Electric Guitars</a></h4>
            </div>
            <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
        </li>

        <li class="item-list__item">
            <figure>
                <a href="URL!">
                    <img src="http://www.fillmurray.com/800/600"/>
                </a>
            </figure>

            <div class="heading-group--marginless">
                <h4><a href="URL">Electric Guitars</a></h4>
            </div>
            <p>Since the early age of sixteen I’ve been collecting electrics and trying to find the perfect tool for the perfect time.</p>
        </li>
    </ul>
</div>