{#
 # EQUIPMENT CATEGORY SIDEBAR LISTING
 # Shown on detail and category templates
 # ----------------------
 #
 #}



<h4>Equipment</h4>
<p class="marginalia">Check out the other equipment categories.</p>

<ul class="nav nav--category">
{% for entry in craft.entries.find({section: 'equipmentTypes'}) %}
    {% set taggedEntries = craft.entries.relatedTo({ targetElement: entry }) %}
    {% if taggedEntries.total() > 0 %}
        <li{% if (category.title | lower) == (entry.title | lower) %} class="cur"{% endif %}>
           <a class="nav--category__item {% if (category.title | lower) == (entry.title | lower) %} nav--category__item--cur{% endif %} link--icon" href="/equipment/category/{{entry.title | lower | replace({' &': ''}) | replace({"'": ''}) | replace({' ': '-'})}}">
                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                {{entry.title | capitalize}}
            </a>
        </li>
    {% endif %}
{% endfor %}
</ul><!-- //end.nav -->
