{#
 # News categories listing
 # -------------------
 #
 #}

<h3>Categories</h3>

<ul class="category-links">
    <li class="cur category-links__link"><a href="URL!">All</a></li>
    <li class="category-links__link"><a href="URL!">Life</a></li>
    <li class="category-links__link"><a href="URL!">Diving</a></li>
    <li class="category-links__link"><a href="URL!">Travel</a></li>
    <li class="category-links__link"><a href="URL!">People</a></li>
    <li class="category-links__link"><a href="URL!">Music</a></li>
</ul>