{#
 # RECORDINGS
 # Detail Template
 # -------------------
 #
 #}



{% extends "_layout" %}

{% block content_main %}

    <!-- LARGE ARTISINAL IMAGE -->
        <figure class="figure__hero">
            <img src="http://placehold.it/1000x600/0eafff/ffffff.png"/>
        </figure>


    <header class="heading-group heading-group--main">
        <h2 class="epsilon">Album</h2>
        <h1>Thirty Six</h1>
    </header>

    <div class="main-wrapper main-wrapper--article__detail ">

        <!-- STREAM ALBUM / LISTEN TO SINGLE -->
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F84872623"></iframe>


        <!-- EXTRACT -->
        <p class="lede">In my younger and more vulnerable years my father gave me some advice that I’ve been turning over in my mind ever since. “Whenever you feel like criticizing any one,” he told me, “just remember that all the people in this world haven’t had the advantages that you’ve had.”</p>

        <!-- BODY CONTENT -->
        <h3>About the album</h3>
        <p>He didn’t say any more, but we’ve always been unusually communicative in a reserved way, and I understood that he meant a great deal more than that. In consequence, I’m inclined to reserve all judgments, a habit that has opened up many curious natures to me and also made me the victim of not a few veteran bores. The abnormal mind is quick to detect and attach itself to this quality when it appears in a normal person, and so it came about that in college I was unjustly accused of being a politician</p>


        <h3>Get the free download</h3>
        <p>Add your email address below and we’ll send you a link to download the first song for free.</p>
        <form class="form-block form-block--message">
            <input placeholder="Email (required)" required="" type="email" name="email" id="email" value="" class="infoput text-input--secondary">

            <button name="submit" id="submit" class="btn btn--primary">Get download</button>
        </form>

        <h3>Credits</h3>

        <ul class="item-list item-list--lyrics">

            <li class="item-list__item">
                <p>I’d like to thank the following musicians and friends for their expertise as well as for all of the laughs and good times along the way.</p>
                <ul>
                    <li>Buster </li>
                    <li>George Saunders </li>
                    <li>Michael Bluth</li>
                    <li>George Saunders</li>
                    <li>Phil Kneen</li>
                    <li>Chris Taylor</li>
                </ul>
            </li>

            <!-- REVIEWS -->
            <li class="item-list__item">
                <h3>Reviews</h3>

                <ul class="item-list">
                    <li class="item-list__item">
                        <figure>
                            <blockquote>Many forms of Government have been tried, and will be tried in this world of sin and woe. No one pretends that democracy.</blockquote>
                            <figcaption>
                                <p>Geoffrey Tambor, <cite><a href="URL!">Guitar magazine</a></cite></p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="item-list__item">
                        <figure>
                            <blockquote>Many forms of Government have been tried, and will be tried in this world of sin and woe. No one pretends that democracy.</blockquote>
                            <figcaption>
                                <p>Geoffrey Tambor, <cite><a href="URL!">Guitar magazine</a></cite></p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="item-list__item">
                        <figure>
                            <blockquote>Many forms of Government have been tried, and will be tried in this world of sin and woe. No one pretends that democracy.</blockquote>
                            <figcaption>
                                <p>Geoffrey Tambor, <cite><a href="URL!">Guitar magazine</a></cite></p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </li>

            <!-- LYRICS -->
            <li class="item-list__item island dropdown-nav">
                <h3 class="island__header">Track info</h3>
                <dl class="lyrics">
                    <dt class="dropdown-nav__header">I like it like that</dt>
                    <dd class="dropdown-nav__item">
                        <pre>
A golden dream, a child so fair,
A fine wine drank in my favourite chair,
A love for life – a love for truth,
A signal back to my frantic youth.

I got the power, I got the speed,
I got every little thing I need,
Life is for real, no second chance,
I take it all, I take my stance,
So I don’t care if you don’t know where I’m at,
’Cause babe I like it like that.

A thousand wishes, a thousand dreams,
A thousand lives, a thousand schemes,
A thousand ways to show my affection,
All leading in the same direction.

Five hundred years of war and peace,
I see it all but have no release,
Five hundred victims, five hundred screams,
I hear them nightly in my dreams…</pre>

                <dl class="micro-info">
                    <dt>Drums</dt>
                    <dd>Mike Wachowski</dd>
                    <dt>Guitars</dt>
                    <dd>Geoffrey Talbor</dd>
                    <dt>Ukelele</dt>
                    <dd>Mike Johnson</dd>
                    <dt>Vocals</dt>
                    <dd>Samantha Bee</dd>
                </dl>


            </dd>
            <dt class="dropdown-nav__header">Hot as hell</dt>
            <dd class="dropdown-nav__item">
                <pre>
I ain’t got no sense of humour,
I ain’t got no time for you,
You would need another life to do the things I’m gon’ to do
I can see right through you woman
You’re a vixen I can tell
Goin’ to eat your pretty heart out woman
I’m as hot as hell.

Tell your momma I’m a comin’
Goin’ to steal your heart away
You can fill a million novels with the things I’m goin to say
Got you round my little finger
Got you caught up in my spell
Goin’ to burn your pretty fingers babe
I’m as hot as hell.

Well your daddy’s out a boozin
And your mommas on the game
Got me layin’ on your pillow
You don’t even know my name
Goin’ a hawkin’ and a talkin’
Ain’t got nothin’ left to sell, oh no
Goin’ to work your skinny ass off babe</pre>
            </dd>
            <dt class="dropdown-nav__header">Still got time to be my babe</dt>
            <dd class="dropdown-nav__item">
                <pre>
Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

I don’t see enough of you babe,
But I think about you all the time,
And honey you know when we’re together,
Those moments are so damn fine,
And in my mind and in my heart,
I’ve still got time to be your babe…

You talk of leaving me, but I know this can’t be true
Because the only thing that matters babe,
Is that you love me, and I love you,
I know you do, so I know you wont,
Still got time to be your babe…
                        </pre>
                    </dd>
<dt class="dropdown-nav__header">Lovin’ Man</dt>
            <dd class="dropdown-nav__item">
                <pre>
Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

I don’t see enough of you babe,
But I think about you all the time,
And honey you know when we’re together,
Those moments are so damn fine,
And in my mind and in my heart,
I’ve still got time to be your babe…

You talk of leaving me, but I know this can’t be true
Because the only thing that matters babe,
Is that you love me, and I love you,
I know you do, so I know you wont,
Still got time to be your babe…
                        </pre>
                    </dd>
<dt class="dropdown-nav__header">Don’t jump</dt>
            <dd class="dropdown-nav__item">
                <pre>
Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

I don’t see enough of you babe,
But I think about you all the time,
And honey you know when we’re together,
Those moments are so damn fine,
And in my mind and in my heart,
I’ve still got time to be your babe…

You talk of leaving me, but I know this can’t be true
Because the only thing that matters babe,
Is that you love me, and I love you,
I know you do, so I know you wont,
Still got time to be your babe…
                        </pre>
                    </dd>
<dt class="dropdown-nav__header">Thoughts on the Sea</dt>
            <dd class="dropdown-nav__item">
                <pre>
Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

I don’t see enough of you babe,
But I think about you all the time,
And honey you know when we’re together,
Those moments are so damn fine,
And in my mind and in my heart,
I’ve still got time to be your babe…

You talk of leaving me, but I know this can’t be true
Because the only thing that matters babe,
Is that you love me, and I love you,
I know you do, so I know you wont,
Still got time to be your babe…
                        </pre>
                    </dd>
<dt class="dropdown-nav__header">No one knows</dt>
            <dd class="dropdown-nav__item">
                <pre>
Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

I don’t see enough of you babe,
But I think about you all the time,
And honey you know when we’re together,
Those moments are so damn fine,
And in my mind and in my heart,
I’ve still got time to be your babe…

You talk of leaving me, but I know this can’t be true
Because the only thing that matters babe,
Is that you love me, and I love you,
I know you do, so I know you wont,
Still got time to be your babe…
                        </pre>
                    </dd>
<dt class="dropdown-nav__header">Jump, boy, jump!</dt>
            <dd class="dropdown-nav__item">
                <pre>
Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

Leave me the water, I’ve had enough wine,
Babe I’ve been doin’ lots of thinkin’,
‘Cause I’ve had so much time,
Perhaps you do, perhaps you don’t,
But have you still got time to be my babe…

I don’t see enough of you babe,
But I think about you all the time,
And honey you know when we’re together,
Those moments are so damn fine,
And in my mind and in my heart,
I’ve still got time to be your babe…

You talk of leaving me, but I know this can’t be true
Because the only thing that matters babe,
Is that you love me, and I love you,
I know you do, so I know you wont,
Still got time to be your babe…
                        </pre>
                    </dd>
                </dl>
            </li>
        </ul> <!-- //end.item-list -->
   </div><!-- //end.main-wrapper -->

{% endblock %}



{% block content_side %}
    <div class="side-wrapper island island--wrapper">
        <div class="island--wrapper__content">

            <div class="record-sale">
                <!-- ALBUM ART IMAGE -->
                <figure>
                    <img alt="" src="http://placehold.it/300x300/0eafff/ffffff.png">
                </figure>

                <ul class="item-list item-list--bordered">
                    <li class="item-list__item item-list__item--album">
                        <h3>Digital download</h3>

                        <a href="URL!" class="btn btn--icon btn--primary btn--arrow-left">
                            <span class="icon ">download</span>
                            <div class="icon-text">
                                Download
                            </div>
                        </a>

                        <p>Immediate download of 12-track album in your choice of high-quality MP3, FLAC, or just about any other format you could possibly desire.</p>
                    </li>
                    <li class="item-list__item item-list__item--album">
                        <h3>Physical disc</h3>
                        <a href="URL!" class="btn btn--icon btn--purple btn--arrow-left">
                            <span class="icon ">discdrive</span>
                            <div class="icon-text">
                                Order now
                            </div>
                        </a>
                        <p>Immediate download of 12-track album in your choice of high-quality MP3, FLAC, or just about any other format you could possibly desire.</p>
                    </li>
                    <li class="item-list__item item-list__item--album">
                        <h3>Vinyl offer</h3>
                        <a href="URL!" class="btn btn--icon btn--green btn--arrow-left">
                            <span class="icon ">music</span>
                            <div class="icon-text">
                                Order now
                            </div>
                        </a>
                        <p>Immediate download of 12-track album in your choice of high-quality MP3, FLAC, or just about any other format you could possibly desire. Delivery is usually 3-5 working days.</p>
                    </li>
                </ul>
            </div>
        </div>
   </div><!-- //end.island.side-wrapper -->



{% endblock %}