{#
 # RECORDINGS
 # Detail Template
 # -------------------
 #
 #}

{% extends "_layout" %}

{% block content_main %}

    <!-- LARGE ARTISINAL IMAGE -->
    {% for image in entry.largeImage %}
        <figure class="figure--banner">
            <img src="{{image.url}}"/>
        </figure>
    {% endfor %}


    <header class="heading-group heading-group--main">
        <div class="main-wrapper main-wrapper--full">
            <h2 class="epsilon">{{entry.recordType}}</h2>
            <h1>{{entry.title}}</h1>
        </div>
    </header>

    <div class="main-wrapper main-wrapper--article__detail main-wrapper--listing">

        <p class="lede">{{entry.shortExtract}}</p>

        {{entry.body}}

        {% if entry.reviews|length > 1 %}
            <h3>Reviews</h3>
            <div class="item-list__item item-list__item--reviews">
                <ul class="item-list">

                    {% for item in entry.reviews %}
                        <li class="item-list__item">
                            <figure>
                                <blockquote>{{item.ReviewQuote}}</blockquote>
                                <figcaption>
                                    <p>
                                        {{item.ReviewWriter}},
                                        <cite>
                                            <a href="item.ReviewLink">{{item.ReviewPublication}}</a>
                                        </cite>
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

            <!-- LYRICS -->
            <!-- Commented out due to time constraints -->

            <!-- <li class="item-list__item island dropdown-nav">
                <h4 class="island__header">Track info &amp; lyrics</h4>
                <dl class="lyrics">
                    <dt class="dropdown-nav__header">I like it like that</dt>
                    <dd class="dropdown-nav__item">
                        <pre>
Five hundred years of war and peace,
I see it all but have no release,
Five hundred victims, five hundred screams,
I hear them nightly in my dreams…</pre>

                <dl class="micro-info">
                    <dt>Drums</dt>
                    <dd>Mike Wachowski</dd>
                    <dt>Guitars</dt>
                    <dd>Geoffrey Talbor</dd>
                    <dt>Ukelele</dt>
                    <dd>Mike Johnson</dd>
                    <dt>Vocals</dt>
                    <dd>Samantha Bee</dd>
                </dl>


            </dd>
            <dt class="dropdown-nav__header">Hot as hell</dt>
            <dd class="dropdown-nav__item">
                <pre>
Well your daddy’s out a boozin
And your mommas on the game
Got me layin’ on your pillow
You don’t even know my name
Goin’ a hawkin’ and a talkin’
Ain’t got nothin’ left to sell, oh no
Goin’ to work your skinny ass off babe</pre>
            </dd>
            <dt class="dropdown-nav__header">Still got time to be my babe</dt>
            <dd class="dropdown-nav__item">
                <pre>
You talk of leaving me, but I know this can’t be true
Because the only thing that matters babe,
Is that you love me, and I love you,
I know you do, so I know you wont,
Still got time to be your babe…
                        </pre>
                    </dd>
<dt class="dropdown-nav__header">Lovin’ Man</dt>
            <dd class="dropdown-nav__item">
                <pre>
You talk of leaving me, but I know this can’t be true
                        </pre>
                    </dd>
            </li>
        </ul> <!-- //end.item-list -->
   </div>

{% endblock %}



{% block content_side %}
    <div class="side-wrapper island island--wrapper">
        <div class="island--wrapper__content island--wrapper__content--album">

            <div class="record-sale">
                <!-- ALBUM ART IMAGE -->
                <figure>
                    {% for image in entry.albumArt %}
                        <img src="{{image.url}}"/>
                    {% endfor %}
                </figure>

                <ul class="item-list item-list--bordered">
                    <li class="item-list__item item-list__item--album">
                        <h3>Digital download</h3>

                        <a href="URL!" class="btn btn--icon btn--primary btn--arrow-left">
                            <span class="icon ">download</span>
                            <div class="icon-text">
                                Download
                            </div>
                        </a>

                        <p>Immediate download of 12-track album in your choice of high-quality MP3, FLAC, or just about any other format you could possibly desire.</p>
                    </li>
                    <li class="item-list__item item-list__item--album">
                        <h3>Physical disc</h3>
                        <a href="URL!" class="btn btn--icon btn--purple btn--arrow-left">
                            <span class="icon ">discdrive</span>
                            <div class="icon-text">
                                Order now
                            </div>
                        </a>
                        <p>Immediate download of 12-track album in your choice of high-quality MP3, FLAC, or just about any other format you could possibly desire.</p>
                    </li>
                    <li class="item-list__item item-list__item--album">
                        <h3>Vinyl offer</h3>
                        <a href="URL!" class="btn btn--icon btn--green btn--arrow-left">
                            <span class="icon ">music</span>
                            <div class="icon-text">
                                Order now
                            </div>
                        </a>
                        <p>Immediate download of 12-track album in your choice of high-quality MP3, FLAC, or just about any other format you could possibly desire. Delivery is usually 3-5 working days.</p>
                    </li>
                </ul>
            </div>
        </div>
   </div><!-- //end.island.side-wrapper -->



{% endblock %}