{#
 # RECORDINGS
 # Detail Template
 # -------------------
 #
 #}

{% extends "_layout" %}

{% block content_main %}

    <!-- LARGE ARTISINAL IMAGE -->
    {% for image in entry.largeImage %}
        <figure class="figure--banner">
            <img src="{{image.url}}"/>
        </figure>
    {% endfor %}


    <header class="heading-group heading-group--main">
        <div class="main-wrapper main-wrapper--full">
            <h2 class="epsilon">{{entry.recordType}}</h2>
            <h1>{{entry.title}}</h1>
        </div>
    </header>

    <div class="main-wrapper main-wrapper--article__detail main-wrapper--listing">

        <p class="lede">{{entry.shortExtract}}</p>

        {{entry.body}}

        {% if entry.reviews|length > 0 %}
            <h3>Reviews</h3>
            <div class="item-list__item item-list__item--reviews">
                <ul class="item-list">

                    {% for item in entry.reviews %}
                        <li class="item-list__item">
                            <figure>
                                <blockquote>{{item.ReviewQuote}}</blockquote>
                                <figcaption>
                                    <p>
                                        {{item.ReviewWriter}},
                                        <cite>
                                            <a href="{{item.ReviewLink}}">{{item.ReviewPublication}}</a>
                                        </cite>
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

   </div>

{% endblock %}



{% block content_side %}
    <div class="side-wrapper island island--wrapper">
        <div class="island--wrapper__content island--wrapper__content--album">

            <div class="record-sale">

                {{entry.bandcampAlbum|markdown}}
                <!-- ALBUM ART IMAGE -->
                <!-- <figure>
                    {% for image in entry.albumArt %}
                        <img src="{{image.getUrl('albumArtSidebar')}}" width="{{image.getWidth('albumArtSidebar')}}" height="{{image.getHeight('albumArtSidebar')}}" alt="{{album.title}}"/>
                    {% endfor %}
                </figure>

                <ul class="item-list item-list--bordered">
                    <li class="item-list__item item-list__item--album">
                        <h3>Digital download</h3>

                        <a href="URL!" class="btn btn--icon btn--primary btn--arrow-left">
                            <span class="icon ">download</span>
                            <div class="icon-text">
                                Download
                            </div>
                        </a>

                        <p>Immediate download of 12-track album in your choice of high-quality MP3, FLAC, or just about any other format you could possibly desire.</p>
                    </li>
                    <li class="item-list__item item-list__item--album">
                        <h3>Physical disc</h3>
                        <a href="URL!" class="btn btn--icon btn--purple btn--arrow-left">
                            <span class="icon ">discdrive</span>
                            <div class="icon-text">
                                Order now
                            </div>
                        </a>
                        <p>Immediate download of 12-track album in your choice of high-quality MP3, FLAC, or just about any other format you could possibly desire.</p>
                    </li>
                    <li class="item-list__item item-list__item--album">
                        <h3>Vinyl offer</h3>
                        <a href="URL!" class="btn btn--icon btn--green btn--arrow-left">
                            <span class="icon ">music</span>
                            <div class="icon-text">
                                Order now
                            </div>
                        </a>
                        <p>Immediate download of 12-track album in your choice of high-quality MP3, FLAC, or just about any other format you could possibly desire. Delivery is usually 3-5 working days.</p>
                    </li>
                </ul> -->
            </div>
        </div>
   </div><!-- //end.island.side-wrapper -->



{% endblock %}