{#
 # RECORDINGS
 # Index / listing template
 # -------------------------
 #}

{% extends "_layout" %}

{% block content_main %}

    <header class="heading-group heading-group--main">
        <div class="main-wrapper main-wrapper--full">
            <h1>Recordings</h1>
            <h2>A collection of EPs, LPs and everything in between</h2>
        </div>
    </header>


    <div class="main-wrapper main-wrapper--listing">

        <ul class="item-list">

            {% for album in craft.entries.find({section:'Recordings', limit:'10'}) %}
                <li class="item-list__item item-list__item--article">

                    <figure class="flag__image">
                        {% for image in album.albumArt %}
                            <a href="{{album.url}}"><img src="{{image.url}}"></a>
                        {% endfor %}
                    </figure>

                    <div class="heading-group heading-group--marginless">
                        <h3><a href="{{album.url}}">{{album.title}}</a></h3>
                        <div class="meta-info-block__item">
                            <time datetime="{{album.postDate|date("Y")}}">{{album.postDate|date("Y")}}</time>
                        </div>
                        <div class="meta-info-block__item">• {{album.recordType}}</div>
                    </div><!-- //.heading-group -->
                </li><!-- //.item -->
            {% endfor %}
        </ul><!-- //.item-list -->
    </div><!-- main-wrapper -->

    <div class="side-wrapper island island--wrapper">
            <ul class="item-list island--wrapper__content">
                <li class="item-list__item item-list__item--sidebar">
                    <h4>Equipment</h4>
                    <p class="marginalia">Feel free to take a look at some of the instruments that I used to make these recordings; find prices and related information about my gear.</p>

                    <ul class="nav nav--category">
                        <li>
                           <a class="nav--category__item link--icon" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Electric guitars
                            </a>
                        </li>
                        <li>
                            <a class="nav--category__item link--icon" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Acoustic guitars
                            </a>
                        </li>
                        <li>
                            <a class="nav--category__item link--icon" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Synthesizers
                            </a>
                        </li>
                        <li>
                            <a class="nav--category__item link--icon" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Drum kits
                            </a>
                        </li>
                        <li>
                            <a class="nav--category__item link--icon" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Amplifiers
                            </a>
                        </li>
                    </ul><!-- //end.nav -->

                </li><!-- //end.item-list__item -->

                <li class="item-list__item item-list__item--live-shows">
                    {% include 'components/_live-shows--alternate.html' %}
                </li>
            </ul><!-- //end.item-list -->

        </div><!-- //end.side-wrapper -->



{% endblock %}
