{#
 # RECORDINGS
 # Index / listing template
 # -------------------------
 #}

{% extends "_layout" %}

{% block content_main %}

    <header class="heading-group heading-group--main">
        <h1>Recordings</h1>
        <h2>A collection of EPs, LPs and everything in between</h2>
    </header>


    <div class="main-wrapper main-wrapper--album">

        <ul class="item-list item-list--album">

            <li class="item-list__item item-list__item--article item-list__item--recording">
                <div class="flag flag--top">
                    <figure class="flag__image">
                        <a href="URL!"><img alt="" src="http://placehold.it/150x150/0eafff/ffffff.png"></a>
                    </figure>

                    <header class="flag__body">
                        <h3><a href="URL!">Thirty Six</a></h3>
                         <time class="meta-info-block__item" datetime="{{entry.postDate|date("Y")}}">{{entry.postDate|date("Y")}}</time>
                    </header>
                </div><!-- //end.flag -->
            </li>

            <li class="item-list__item item-list__item--article item-list__item--recording">

                <div class="flag flag--top">
                    <figure class="flag__image">
                        <a href="URL!"><img alt="" src="http://placehold.it/150x150/0eafff/ffffff.png"></a>
                    </figure>

                    <header class="flag__body">
                        <h3><a href="URL!">Another release</a></h3>
                         <time class="meta-info-block__item" datetime="{{entry.postDate|date("Y")}}">{{entry.postDate|date("Y")}}</time>
                    </header>
                </div>
            </li>
            <li class="item-list__item item-list__item--article item-list__item--recording">
                <div class="flag flag--top">
                    <figure class="flag__image">
                        <a href="URL!"><img alt="" src="http://placehold.it/150x150/0eafff/ffffff.png"></a>
                    </figure>

                    <header class="flag__body">
                        <h3><a href="URL!">Thirty Six</a></h3>
                         <time class="meta-info-block__item" datetime="{{entry.postDate|date("Y")}}">{{entry.postDate|date("Y")}}</time>
                    </header>
                </div><!-- //end.flag -->
            </li>

            <li class="item-list__item item-list__item--article item-list__item--recording">

                <div class="flag flag--top">
                    <figure class="flag__image">
                        <a href="URL!"><img alt="" src="http://placehold.it/150x150/0eafff/ffffff.png"></a>
                    </figure>

                    <header class="flag__body">
                        <h3><a href="URL!">Another release</a></h3>
                         <time class="meta-info-block__item" datetime="{{entry.postDate|date("Y")}}">{{entry.postDate|date("Y")}}</time>
                    </header>
                </div>
            </li>
        </ul>
    </div><!-- main-wrapper -->

    <div class="wrapper">
        <div class="wide-wrapper wide-wrapper--merch">
            <div class="item-list item-list--merch">
                <h3 class="main-wrapper--article-meta__header">Merchandise and Goodies</h3>

                <ul>
                    <li class="item-list__item">
                         <figure>
                            <a href="URL!">
                                <img alt="" src="http://placehold.it/400x400/0eafff/ffffff.png">
                            </a>
                        </figure>
                        <h5><a href="URL!">Launch poster</a></h5>
                    </li>

                    <li class="item-list__item">
                        <figure>
                            <a href="URL!">
                                <img alt="" src="http://placehold.it/400x400/0eafff/ffffff.png">
                            </a>
                        </figure>
                        <h5><a href="URL!">Thirty six t-shirts</a></h5>
                    </li>

                    <li class="item-list__item">
                        <figure>
                            <a href="URL!">
                                <img alt="" src="http://placehold.it/400x400/0eafff/ffffff.png">
                            </a>
                        </figure>
                        <h5><a href="URL!">Launch poster</a></h5>
                    </li>

                    <li class="item-list__item">
                        <figure>
                            <a href="URL!">
                                <img alt="" src="http://placehold.it/400x400/0eafff/ffffff.png">
                            </a>
                        </figure>
                        <h5><a href="URL!">Thirty six t-shirts</a></h5>
                    </li>
                </ul>
            </div><!-- //end.item-list merch -->
        </div><!-- //end.wide-wrapper -->

        <div class="side-wrapper island island--wrapper">
            <ul class="item-list island--wrapper__content">
                <li class="item-list__item item-list__item--sidebar">
                    <h4>Equipment</h4>
                    <p class="marginalia">Feel free to take a look at some of the instruments that I used to make these recordings; find prices and related information about my gear.</p>

                    <ul class="nav nav--category">
                        <li>
                           <a class="nav--category__item link--icon" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Electric guitars
                            </a>
                        </li>
                        <li>
                            <a class="nav--category__item link--icon" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Acoustic guitars
                            </a>
                        </li>
                        <li>
                            <a class="nav--category__item link--icon" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Synthesizers
                            </a>
                        </li>
                        <li>
                            <a class="nav--category__item link--icon" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Drum kits
                            </a>
                        </li>
                        <li>
                            <a class="nav--category__item link--icon" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Amplifiers
                            </a>
                        </li>
                    </ul><!-- //end.nav -->

                </li><!-- //end.item-list__item -->

                <li class="item-list__item item-list__item--live-shows">
                    {% include 'components/_live-shows--alternate.html' %}
                </li>
            </ul><!-- //end.item-list -->

        </div><!-- //end.side-wrapper -->

    </div><!-- //end.wrapper -->


{% endblock %}
