{#
 # Featured album
 # ---------------
 # This component displays recent recordings on the home page.
 #
 #}


<article>
    <div class="featured__album-content">
        <header class="heading-group heading-group--marginless">
            <h4 class="epsilon">Latest album</h4>
            <h3><a href="URL">Thirty Six</a></h3>
        </header>
        <p>Well this is it, Simon’s first solo album in thirty six years of spanking the plank. It’s not blues, it’s not rock, it’s not folk; it’s certainly an eclectic mix. <a href="URL">Read more &raquo;</a></p>
    </div>
    <figure class="featured__album-image">
        <a href="URL">
            <img alt="" src="http://placehold.it/1300x800/0eafff/ffffff.png">
        </a>

        <a href="URL!" class="btn btn--icon btn--primary btn--arrow-left">
            <span class="icon ">mediumvolume</span>
            <div class="icon-text">
                Listen now
            </div>
        </a>
    </figure>
</article>