{#
 # Featured article
 # ---------------
 # This component displays a featured album on the homepage.
 #
 #}


{% for post in craft.entries.find({section:'Blog', limit:'1'}) %}
    <article>
        <div class="featured__post-content">
            <header class="heading-group heading-group--marginless featured__heading">

                <h3><a href="{{post.url}}">{{ post.title }}</a></h3>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{post.postDate|date("Y-m-d")}}">{{post.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div><!-- //.meta-info-block -->
            </header>

            {% for image in post.blog__image %}
                <figure class="featured__post-image">
                    <img src="{{image.url}}">
                </figure>
            {% endfor %}

            <p>{{ post.shortExtract[:240]}}&hellip; <a href="{{post.url}}">Read more &raquo;</a></p>

        </div><!-- //end.featured__post-content -->
    </article>
{% endfor %}


