{#
 # EQUIPMENT
 # Category Template e.g. 'Guitars'
 # -------------------------------
 #
 #}


{% extends "_layout" %}

{% block content_main %}


    <header class="heading-group heading-group--main">
        <div class="main-wrapper main-wrapper--full">
            <h2 class="epsilon">Equipment and Gear</h2>
            <h1>Electric Guitars</h1>
        </div>
    </header>

    <div class="main-wrapper main-wrapper--article main-wrapper--listing" role="main">

         <ul class="item-list">
            <li class="item-list__item item-list__item--article">
                <article>
                    <!-- REQUIRED EQUIPMENT IMAGE -->
                    <figure>
                        <a href="{{post.url}}">
                            <img alt="" src="http://placehold.it/700x350/0eafff/ffffff.png">
                        </a>
                    </figure>

                    <header class="heading-group--marginless">
                        <h3><a href="URL!">TC Electronic 2290</a></h3>
                    </header>

                    <p>In my younger and more vulnerable years my father gave me some advice that I’ve been turning over in my mind ever since. “Whenever you feel like criticizing any one,” he told me, “just remember that all the people in this world haven’t had the advantages that you’ve had.” <a href="{{post.url}}">Read more &raquo;</a></p>
                </article>
            </li>

            <li class="item-list__item item-list__item--article">
                <article>
                    <!-- REQUIRED EQUIPMENT IMAGE -->
                    <figure>
                        <a href="{{post.url}}">
                            <img alt="" src="http://placehold.it/700x350/0eafff/ffffff.png">
                        </a>
                    </figure>

                    <header class="heading-group--marginless">
                        <h3><a href="URL!">TC Electronic 2290</a></h3>
                    </header>

                    <p>In my younger and more vulnerable years my father gave me some advice that I’ve been turning over in my mind ever since. “Whenever you feel like criticizing any one,” he told me, “just remember that all the people in this world haven’t had the advantages that you’ve had.” <a href="{{post.url}}">Read more &raquo;</a></p>
                </article>
            </li>
            <li class="item-list__item item-list__item--article">
                <article>
                    <!-- REQUIRED EQUIPMENT IMAGE -->
                    <figure>
                        <a href="{{post.url}}">
                            <img alt="" src="http://placehold.it/700x350/0eafff/ffffff.png">
                        </a>
                    </figure>

                    <header class="heading-group--marginless">
                        <h3><a href="URL!">TC Electronic 2290</a></h3>
                    </header>

                    <p>In my younger and more vulnerable years my father gave me some advice that I’ve been turning over in my mind ever since. “Whenever you feel like criticizing any one,” he told me, “just remember that all the people in this world haven’t had the advantages that you’ve had.” <a href="{{post.url}}">Read more &raquo;</a></p>
                </article>
            </li>
            <li class="item-list__item item-list__item--article">
                <article>
                    <!-- REQUIRED EQUIPMENT IMAGE -->
                    <figure>
                        <a href="{{post.url}}">
                            <img alt="" src="http://placehold.it/700x350/0eafff/ffffff.png">
                        </a>
                    </figure>

                    <header class="heading-group--marginless">
                        <h3><a href="URL!">TC Electronic 2290</a></h3>
                    </header>

                    <p>In my younger and more vulnerable years my father gave me some advice that I’ve been turning over in my mind ever since. “Whenever you feel like criticizing any one,” he told me, “just remember that all the people in this world haven’t had the advantages that you’ve had.” <a href="{{post.url}}">Read more &raquo;</a></p>
                </article>
            </li>
            <li class="item-list__item item-list__item--article">
                <article>
                    <!-- REQUIRED EQUIPMENT IMAGE -->
                    <figure>
                        <a href="{{post.url}}">
                            <img alt="" src="http://placehold.it/700x350/0eafff/ffffff.png">
                        </a>
                    </figure>

                    <header class="heading-group--marginless">
                        <h3><a href="URL!">TC Electronic 2290</a></h3>
                    </header>

                    <p>In my younger and more vulnerable years my father gave me some advice that I’ve been turning over in my mind ever since. “Whenever you feel like criticizing any one,” he told me, “just remember that all the people in this world haven’t had the advantages that you’ve had.” <a href="{{post.url}}">Read more &raquo;</a></p>
                </article>
            </li>
        </ul>

    </div>

{% endblock %}



{% block content_side %}

    <div class="side-wrapper island island--wrapper">

        <ul class="item-list island--wrapper__content">
            <li class="item-list__item item-list__item--sidebar">
                <h4>Equipment</h4>
                <p class="marginalia">Feel free to take a look at some of the instruments that I used to make these recordings; find prices and related information about my gear.</p>

                <ul class="nav nav--category">
                    <li>
                       <a class="nav--category__item link--icon" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Electric guitars
                        </a>
                    </li>
                    <li>
                        <a class="nav--category__item link--icon" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Acoustic guitars
                        </a>
                    </li>
                    <li>
                        <a class="nav--category__item link--icon" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Synthesizers
                        </a>
                    </li>
                    <li>
                        <a class="nav--category__item link--icon" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Drum kits
                        </a>
                    </li>
                    <li>
                        <a class="nav--category__item link--icon" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Amplifiers
                        </a>
                    </li>
                </ul><!-- //end.nav -->

            </li><!-- //end.item-list__item -->

            <li class="item-list__item item-list__item--album">
                {% include 'components/_side-bar--album.html' %}
            </li>

            <li class="item-list__item item-list__item--live-shows">
                {% include 'components/_live-shows--alternate.html' %}
            </li>
        </ul><!-- //end.item-list -->

    </div><!-- //end.side-wrapper -->

{% endblock %}