{#
 # EQUIPMENT
 # Detail Template
 # -------------------
 #
 #}

{% extends "_layout" %}

{% block content_main %}

    <!-- LARGE ARTISINAL IMAGE -->
    {% for image in entry.largeImage %}
        <figure>
            <img src="{{image.url}}">
        </figure>
    {% endfor %}

    <header class="heading-group heading-group--main heading-group--with-meta">
        <h1>{{entry.title}}</h1>

        {% if entry.heading__sec %}
            <h2>{{entry.heading__sec}}</h2>
        {% endif %}

        <div class="meta-info-block">
            <time class="meta-info-block__item" datetime="{{entry.postDate|date("Y-m-d")}}">{{entry.postDate|date("jS F Y")}}</time>

            <p class="meta-info-block__item">Posted in
                <a class="category-link" href="URL!">
                    <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                    {{entry.equipmentCategory}}
                </a>
            </p>
        </div>



    </header>

    <div class="main-wrapper main-wrapper--article main-wrapper--article__detail main-wrapper--rev">

        <p class="lede">{{entry.shortExtract}}</p>

        {{entry.body}}

    </div>

    <div class="side-wrapper side-wrapper--rev side-wrapper--equipment">
            <!-- INSTRUMENT IMAGE -->
        {% for image in entry.equipmentImage %}
            <figure>
                <img src="{{image.url}}">
            </figure>
        {% endfor %}

        <ul class="item-list item-list--equipment-meta">
            <li class="item-list__item">
                <h4>Manufactured by</h4>
                {% for make in entry.makerBlock %}
                    <p>
                        <a href="{{ make.makerUrl }}">
                            {{ make.makerTitle }}
                        </a>
                    </p>
                {% endfor %} <!-- //end.makerBlock -->
            </li>

            <li class="item-list__item">
                <h4>Add this gear to your collection</h4>

                {% for item in entry.sellerBlock %}
                    <dl class="seller-block">
                        <dt>
                            <a href="{{item.sellerURL}}">{{item.sellerName}}:</a>
                        </dt>
                        <dd>
                            £{{item.sellerPrice}}
                        </dd>
                    </dl>

                {% endfor %}
            </li>

            <li class="item-list__item">
                <h4>Similar instruments</h4>
                <ul class="item-list">
                    <li><a href="URL!">Gibson E2234</a></li>
                    <li><a href="URL!">Ibanez S13</a></li>
                    <li><a href="URL!">Yamaha E series</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- //end.side-wrapper -->

{% endblock %}



{% block content_side %}
<div class="main-wrapper main-wrapper--article-meta">
        <h2><span class="comment-count">3</span> Comments</h2>

        <ul class="item-list item-list__comments">
            <li class="item-list__item item-list--comments">
                <div class="flag flag--bottom">

                    <div class="flag__image">
                        <img src="http://placehold.it/50x50/0eafff/ffffff.png">
                    </div>

                    <header class="flag__body">
                        <h3><a href="URL!">Jack Nicholson</a></h3>
                        <time datetime="2013-06-24">24th June 2013</time>
                    </header>
                </div>

                <p>Always my choice as well (apart from the lemon yellow Toyota Hi-Ace (which was (thankfully) stolen from Glastonbury) and a day-glo orange LWB semi hi-top Tranny (which turned out to have false plates on it))&hellip;</p>
            </li>

            <li class="item-list__item item-list--comments">
                <div class="flag flag--bottom">

                    <div class="flag__image">
                        <img src="http://placehold.it/50x50/0eafff/ffffff.png">
                    </div>

                    <header class="flag__body">
                        <h3><a href="URL!">Jack Nicholson</a></h3>
                        <time datetime="2013-06-24">24th June 2013</time>
                    </header>
                </div>

                <p>Always my choice as well (apart from the lemon yellow Toyota Hi-Ace (which was (thankfully) stolen from Glastonbury) and a day-glo orange LWB semi hi-top Tranny (which turned out to have false plates on it))&hellip;</p>
            </li>
            <li class="item-list__item item-list--comments">
                <div class="flag flag--bottom">

                    <div class="flag__image">
                        <img src="http://placehold.it/50x50/0eafff/ffffff.png">
                    </div>

                    <header class="flag__body">
                        <h3><a href="URL!">Jack Nicholson</a></h3>
                        <time datetime="2013-06-24">24th June 2013</time>
                    </header>
                </div>

                <p>Always my choice as well (apart from the lemon yellow Toyota Hi-Ace (which was (thankfully) stolen from Glastonbury) and a day-glo orange LWB semi hi-top Tranny (which turned out to have false plates on it))&hellip;</p>
            </li>
        </ul>

        {% include 'components/_forms/_comment-form.html' %}

    </div><!-- //end.main-wrapper -->


    <div class="side-wrapper island island--wrapper">

        <ul class="item-list island--wrapper__content">
            <li class="item-list__item item-list__item--album">
                {% include 'components/_side-bar--album.html' %}
            </li>

            <li class="item-list__item">
                {% include 'components/_live-shows--alternate.html' %}
            </li>
        </ul>

    </div><!-- //end.side-wrapper -->
{% endblock %}

