{#
 # EQUIPMENT
 # Index listing template
 # -------------------
 #
 #}

{% extends "_layout" %}

{% block content_main %}
    <header class="heading-group heading-group--main">
        <h1>Equipment &amp; Gear</h1>
        <h2>This is a secondary headline that is not optional</h2>
    </header>

    <div class="main-wrapper main-wrapper--rev" role="main">

        <ul class="item-list">

            {% for post in craft.entries.find({section:'Equipment', limit:'10'})  %}

                <li class="item-list__item item-list__item--article">

                    <article>

                        <header class="heading-group">
                            <h3><a href="{{post.url}}">{{ post.title }}</a></h3>

                            <div class="meta-info-block meta-info-block--borderless">
                                <time class="meta-info-block__item" datetime="{{post.postDate|date("Y-m-d")}}">{{post.postDate|date("jS F Y")}}</time>

                                <p class="meta-info-block__item">Posted in

                                    <a class="category-link" href="/equipment/{{post.equipmentCategory|lower}}">
                                        <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                        {{post.equipmentCategory}}
                                    </a>
                                </p>
                            </div>
                        </header>

                        <!-- REQUIRED EQUIPMENT IMAGE -->
                        {% for image in post.equipmentImage %}
                            <figure class="equipment-image">
                                <a href="{{post.url}}">
                                    <img src="{{image.url}}">
                                </a>
                            </figure>
                        {% endfor %}

                        <p>{{ post.shortExtract }} <a href="{{post.url}}">Read more &raquo;</a></p>

                    </article>
                </li>
            {% endfor %}

        </ul>

    </div> <!-- //end.main-wrapper -->


    <div class="wrapper">
        <div class="wide-wrapper">
            {% include 'components/_equipment/_category-list.html' %}
        </div> <!-- //end.main-wrapper -->
    </div> <!-- //end.wrapper -->

{% endblock %}


{% block content_side %}
<div class="side-wrapper island island--wrapper">
    <ul class="item-list island--wrapper__content">

        <li class="item-list__item item-list__item--album">
            {% include 'components/_side-bar--album.html' %}
        </li>

        <li class="item-list__item item-list__item--live-shows">
            {% include 'components/_live-shows--alternate.html' %}
        </li>
    </ul>
</div>
{% endblock %}