{% extends "_layout" %}

{% block content_main %}
	<header>
		<h1>Equipment &amp; Gear</h1>
		<h2>This is a secondary headline that is not optional</h2>
	</header>


	<div class="main-wrapper">
		<ul class="item_list">

            {% for post in craft.entries.find({section:'Equipment', limit:'10'})  %}
                <li class="item_list__item">
                    <article>
                        <!-- OPTIONAL BLOG POST IMAGE -->
                        {% for image in post.blog__image %}
                            <figure>
                                <a href="{{post.url}}">
                                    <img src="{{image.url}}">
                                </a>
                            </figure>
                        {% endfor %}

                        <header>
                            <h3><a href="{{post.url}}">{{ post.title }}</a></h3>

                            <time datetime="{{post.postDate|date("Y-m-d")}}">{{post.postDate|date("jS F Y")}}</time>

                            <p>Posted in <a href="URL!" class="icon icon--tag">Life</a>, <a href="URL!" class="icon icon--tag">Health</a></p>
                        </header>

                        <p>{{ post.shortExtract }}. <a href="{{post.url}}">Read more &raquo;</a></p>

                    </article>
                </li>
            {% endfor %}
        </ul>




		<ul class="item-list--equipment">
			<li class="item-list--equipment__item">
				<figure>
					<img alt="" src="http://www.ckmusictuition.co.uk/Portals/6/Images/b-c-rich-platinum-beast-guitar-black.jpg"/>
				</figure>

				<div class="hgroup">
					<h3><a href="URL!">Guitars</a></h3>
					<span class="meta">1 articles</span>
				</div>

				<p>From the young age of sixteen I thought guitar was the best thing in the world. With these tiny strings of metal you could make people feel anything.</p>
			</li>
			<li class="item-list--equipment__item">
				<figure>
					<img alt="" src="http://www.ckmusictuition.co.uk/Portals/6/Images/b-c-rich-platinum-beast-guitar-black.jpg"/>
				</figure>

				<div class="hgroup">
					<h3><a href="URL!">Synths</a></h3>
					<span class="meta">201 articles</span>
				</div>

				<p>From the young age of sixteen I thought guitar was the best thing in the world. With these tiny strings of metal you could make people feel anything.</p>
			</li>
		</ul>
	</div>

{% endblock %}