{#
 # BLOG
 # Detail Template
 # -------------------
 #
 #}


{% extends "_layout" %}

{% block content_main %}

    <header class="heading-group heading-group--main heading-group--with-meta">
        <h1>{{entry.title}}</h1>

        {% if entry.heading__sec %}
            <h2>{{entry.heading__sec}}</h2>
        {% endif %}

        <div class="meta-info-block">
            <div class="main-wrapper">
                <time class="meta-info-block__item" datetime="{{entry.postDate|date("Y-m-d")}}">{{entry.postDate|date("jS F Y")}}</time>
                <p class="meta-info-block__item">Posted in
                    <a class="category-link" href="URL!">
                        <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                        Health
                    </a>,
                    <a class="category-link" href="URL!">
                        <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                        Life
                    </a>
                </p>
            </div>
        </div>
    </header>

    {% for image in entry.blog__image %}
        <figure class="figure__hero">
            <img src="{{image.url}}">
        </figure>
    {% endfor %}

    <div class="main-wrapper main-wrapper--article">

        <p class="lede">{{entry.shortExtract}}</p>

        {{entry.blog__content}}


        {% include '/components/_social-share' %}


    </div><!-- //end.main-wrapper -->

{% endblock %}


{% block content_side %}

    <div class="main-wrapper main-wrapper--article-meta">
        <h2 class="main-wrapper--article-meta__header"><span class="comment-count">3</span> Comments</h2>

        <ul class="item-list item-list__comments">
            <li class="item-list__item item-list--comments">
                <div class="flag flag--bottom">

                    <div class="flag__image">
                        <img src="http://placehold.it/50x50/0eafff/ffffff.png">
                    </div>

                    <header class="flag__body">
                        <h3><a href="URL!">Jack Nicholson</a></h3>
                        <time datetime="2013-06-24">24th June 2013</time>
                    </header>
                </div>

                <p>Always my choice as well (apart from the lemon yellow Toyota Hi-Ace (which was (thankfully) stolen from Glastonbury) and a day-glo orange LWB semi hi-top Tranny (which turned out to have false plates on it))&hellip;</p>
            </li>

            <li class="item-list__item item-list--comments">
                <div class="flag flag--bottom">

                    <div class="flag__image">
                        <img src="http://placehold.it/50x50/0eafff/ffffff.png">
                    </div>

                    <header class="flag__body">
                        <h3><a href="URL!">Jack Nicholson</a></h3>
                        <time datetime="2013-06-24">24th June 2013</time>
                    </header>
                </div>

                <p>Always my choice as well (apart from the lemon yellow Toyota Hi-Ace (which was (thankfully) stolen from Glastonbury) and a day-glo orange LWB semi hi-top Tranny (which turned out to have false plates on it))&hellip;</p>
            </li>
            <li class="item-list__item item-list--comments">
                <div class="flag flag--bottom">

                    <div class="flag__image">
                        <img src="http://placehold.it/50x50/0eafff/ffffff.png">
                    </div>

                    <header class="flag__body">
                        <h3><a href="URL!">Jack Nicholson</a></h3>
                        <time datetime="2013-06-24">24th June 2013</time>
                    </header>
                </div>

                <p>Always my choice as well (apart from the lemon yellow Toyota Hi-Ace (which was (thankfully) stolen from Glastonbury) and a day-glo orange LWB semi hi-top Tranny (which turned out to have false plates on it))&hellip;</p>
            </li>
        </ul>

        {% include 'components/_forms/_comment-form.html' %}

    </div><!-- //end.main-wrapper -->


    <div class="side-wrapper island island--wrapper">

        <ul class="item-list island--wrapper__content">

            <li class="item-list__item item-list__item--sidebar">
                <h4>Subscribe via RSS</h4>

                <a href="URL!" class="link--icon">
                    <span class="icon ss ss-inbox">inbox</span>
                    Get regular updates from the blog
                </a>
            </li>

            <li class="item-list__item item-list__item--album">
                {% include 'components/_side-bar--album.html' %}
            </li>

            <li class="item-list__item item-list__item--live-shows">
                {% include 'components/_live-shows--alternate.html' %}
            </li>
        </ul>
    </div><!-- // end.side-wrapper -->



{% endblock %}
















