{#
 # BLOG
 # Index Listing Template
 # -------------------
 #
 #}

{% extends "_layout" %}

{% block content_main %}

    <header class="heading-group heading-group--main">
        <div class="main-wrapper main-wrapper--full">
            <h1>Blog</h1>
            <h2>A personal perspective on music and life</h2>
        </div>
    </header>

    <div class="main-wrapper main-wrapper--article main-wrapper--listing">
        <ul class="item-list item-list--article">

            {% for post in craft.entries.find({section:'Blog', limit:'10'}) %}
                <li class="item-list__item item-list__item--article">
                    <article>
                        <header class="heading-group heading-group--marginless">
                            <h3><a href="{{post.url}}">{{ post.title }}</a></h3>

                            <div class="meta-info-block meta-info-block--borderless">

                                <time class="meta-info-block__item" datetime="{{post.postDate|date("Y-m-d")}}">{{post.postDate|date("jS F Y")}}</time>

                                <p class="meta-info-block__item">Posted in
                                    <a class="category-link" href="URL!">
                                        <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                        Life
                                    </a>,
                                    <a class="category-link" href="URL!">
                                        <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                        Health
                                    </a>
                                </p>
                            </div>
                        </header>

                        <p>{{ post.shortExtract[:340]|trim }}&hellip; <a href="{{post.url}}">Read more &raquo;</a></p>

                    </article>
                </li>
            {% endfor %}
        </ul>

        <div class="btn__group btn__group--bordered">
            <a href="http://simoncampbell/index.php?p=blog/archive.html" class="btn btn--icon btn--secondary btn--arrow-left">
                <span class="icon ss-rewind">rewind</span>
                <div class="icon-text">
                    Older entries
                </div>
            </a>
        </div>

    </div><!-- // end.main-wrapper -->

{% endblock %}


{% block content_side %}

    <div class="side-wrapper island island--wrapper">

        <ul class="item-list island--wrapper__content">
            <li class="item-list__item item-list__item--search item-list__item--sidebar">
                <form id="search-form" action="/search-results/">
                    <label for="q" class="label--headline">Search the blog</label>
                    <input aria-labelledby="search-label" id="q" type="search" class="text-input search-form__input text-input--secondary" placeholder="Music, travel, life etc." value="">
                    <input type="submit" value="Search" class="btn btn--secondary search-form__submit">
                </form>
            </li>

            <li class="item-list__item item-list__item--sidebar">
                <h4>Categories</h4>

                <ul class="nav nav--category">
                    <li class="cur">
                        <a class="nav--category__item nav--category__item--cur link--icon" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            All
                        </a>
                    </li>
                    <li>
                        <a class="nav--category__item link--icon" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>
                    </li>
                    <li>
                        <a class="nav--category__item link--icon" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Fishing
                        </a>
                    </li>
                    <li>
                        <a class="nav--category__item link--icon" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Swimming
                        </a>
                    </li>
                    <li>
                        <a class="nav--category__item link--icon" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Travel
                        </a>
                    </li>
                    <li>
                        <a class="nav--category__item link--icon" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Vanning
                        </a>
                    </li>

                </ul>

            </li>

            <li class="item-list__item item-list__item--sidebar">
                <h4>Subscribe via RSS</h4>

                <a href="/feed.rss" class="link--icon">
                    <span class="icon ss ss-inbox">inbox</span>
                    Get regular updates from the blog
                </a>
            </li>

            <li class="item-list__item item-list__item--album">
                {% include 'components/_side-bar--album.html' %}
            </li>

            <li class="item-list__item item-list__item--live-shows">
                {% include 'components/_live-shows--alternate.html' %}
            </li>

        </ul>

    </div><!-- // end.side-wrapper -->

{% endblock %}














