{#
 # BLOG
 # Tags listing template
 # -------------------
 #
 #}


{% extends "_layout" %}

{% block content_main %}

    <header class="heading-group heading-group--main">
        <div class="main-wrapper main-wrapper--full">
            <h2 class="epsilon">Blog posts</h2>
            <h1>Posts tagged with &lsquo;Life&rsquo;</h1>
        </div>
    </header>

    <div class="main-wrapper main-wrapper--article main-wrapper--listing main-wrapper--archive" role="main">
        <div class="item-list--sub-content item-list--sub-content--alternate">
            <h3><span class="icon icon--meta">write</span>2013</h3>
        </div><!-- //end.item-list -->

        <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>

        <div class="item-list--sub-content item-list--sub-content--alternate">
            <h3><span class="icon icon--meta">write</span>2012</h3>
        </div>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <div class="item-list--sub-content item-list--sub-content--alternate">
            <h3><span class="icon icon--meta">write</span>2011</h3>
        </div>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>
         <article>
            <div class="heading-group heading-group--marginless">
                <h4><a href="URL!">Entry title</a></h4>

                <div class="meta-info-block meta-info-block--borderless">
                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </div>
        </article>


    </div><!-- //end.main-wrapper -->


{% endblock %}



{% block content_side %}

    <div class="side-wrapper island island--wrapper">

        <ul class="item-list island--wrapper__content">

            <li class="item-list__item item-list__item--sidebar">

                {% include 'components/_news/_news-category' %}

            </li>

            <li class="item-list__item item-list__item--sidebar">
                <h4>Subscribe via RSS</h4>
                <a href="/feed.rss" class="link--icon">
                    <span class="icon ss ss-inbox">inbox</span>
                    Get regular updates from the blog
                </a>
            </li>

            <li class="item-list__item item-list__item--album">
                {% include 'components/_side-bar--album.html' %}
            </li>

            <li class="item-list__item item-list__item--live-shows">
                {% include 'components/_live-shows--alternate.html' %}
            </li>

        </ul>



    </div><!-- // end.island side-wrapper -->

{% endblock %}
