<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />

        <!-- META -->
        <meta charset="utf-8" />
        <meta name="author" content="Simon Campbell" />
        <meta name="description" content="Simon Campbell is a guitar player, song writer and producer." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simon Campbell – {% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

        <link rel="home" href="{{ siteUrl }}" />

        <!-- <link rel="author" href="ADD SIMON’S GOOGLE+ STUFF HERE" -->

        <!-- ICONS -->
        <link rel="apple-touch-icon-precomposed" href="/static/images/branding/apple-touch-icon.png">
        <link rel='shortcut icon' href="/static/images/branding/favicon.ico">

        <!-- RSS -->

        <!-- CSS -->
        <link rel="stylesheet" media="all" type="text/css" href="/static/css/screen.css" />
        <link rel="stylesheet" media="print" type="text/css" href="/static/css/print.css" />

        <!-- FONTS -->
        <link href="//cloud.webtype.com/css/209aeb3a-85f7-4c3e-8a8c-827c1c76e327.css" rel="stylesheet" type="text/css" />

        <!-- MODERNIZR -->
        <script src="/static/js/modernizr.js"></script>
    </head>


    <body class="{% block body_class %}{% endblock %}">

    <div class="desktop-wrapper {% block wrapper_class %}{% endblock %}">
            <!--  BRANDING -->
            <div id="header" role="banner">
                <div class="banner-logo">
                    {% if url == "" %}
                        <h1>Simon Campbell</h1>
                    {% else %}
                        <a class="banner-logo" href="/">
                            <p>Simon Campbell</p>
                        </a>
                    {% endif %}
                </div>
                {% include 'components/_navigation/_banner-nav.html' %}
            </div>

            {% block content_main %}
            {% endblock %}

            {% block content_side %}
            {% endblock %}

            <footer role="contentinfo" class="footer-main">
                <div class="wide-wrapper">
                    <section class="footer-main__item footer-main__item--about">
                        <div class="media">
                            <figure class="media__img">
                                <img src="/static/images/branding/simon.jpg" alt="Simon Campbell">
                            </figure>
                            <div class="media__body">
                                <h3>About</h3>
                                <p>Simon is a musician and producer of Supertone Records. His musical journies over the years have led him to many exciting adventures. <a class="link--reverse read-more" href="/about">Read more &raquo;</a></p>
                            </div>
                        </div>
                    </section>

                    <section class="footer-main__item footer-main__item--newsletter">
                        <h3>Newsletter</h3>

                        <fieldset>
                            <label for="id_newsletter">Sign up for the newsletter below and get the latest updates on tour info, merch sales and album releases.</label>
                            <input class="text-input text-input--secondary" type="email" placeholder="Your email">
                            <button class="btn btn--secondary--on-black-bg" type="submit">Subscribe</button>
                        </fieldset>
                    </section>

                    <section class="footer-main__item footer-main__item--social">
                        <h3>Find me elsewhere</h3>
                        <nav>
                            <ul class="icon-list">
                                <li class="icon-list__item">
                                    <a class="link--reverse social-icon icon--twitter" href="http://twitter.com/SimonCampbell">
                                       Twitter
                                    </a>
                                </li>

                                <li class="icon-list__item">
                                    <a class="link--reverse social-icon icon--youtube" href="http://www.youtube.com/user/simonjcampbell">
                                        Youtube
                                    </a>
                                </li>

                                <li class="icon-list__item">
                                    <a class="link--reverse social-icon icon--vimeo" href="http://vimeo.com/simoncampbell">Vimeo</a>
                                </li>

                                <li class="icon-list__item">
                                    <a class="link--reverse social-icon icon--facebook" href="https://www.facebook.com/Simon.Campbell.Musician">Facebook</a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                </div><!-- //end.wide-wrapper -->

                <section class="footer-main__item footer-main__item--site-info">
                    <div class="wide-wrapper">
                        <ul class="nav">
                            <li>Supertone Records &copy; {{ "now"|date("Y") }}</li>
                            <li><a class="link--reverse" href="/privacy-policy">Privacy policy </a></li>
                        </ul>

                        <a href="#" class="link--reverse link--icon link--jump">
                            <span class="icon ss ss-up">up</span>
                            Back to top
                        </a>
                    </div>
                </section>

            </footer><!-- //end.footer-main -->
        </div><!-- //end.desktrop-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="/static/js/EDJ.js"></script>
        <script src="/static/js/ss-gizmo.js"></script>

        <script src="/static/js/jquery.fitvids.js"></script>
        <script>
            $(document).ready(function(){
                // Target your .container, .wrapper, .post, etc.
                    $('.fitVid-container').fitVids();
                });
        </script>

        {% block scripts %}
        {% endblock %}

    </body>
</html>