<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />

        <!-- META -->
        <meta charset="utf-8" />
        <meta name="author" content="Simon Campbell" />
        <meta name="description" content="Simon Campbell is a guitar player, song writer and producer." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simon Campbell – {% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

        <link rel="home" href="{{ siteUrl }}" />

        <!-- <link rel="author" href="ADD SIMON’S GOOGLE+ STUFF HERE" -->

        <!-- ICONS -->

        <!-- RSS -->

        <!-- CSS -->
        <link rel="stylesheet" media="all" type="text/css" href="/static/css/screen.css" />
        <link rel="stylesheet" media="print" type="text/css" href="/static/css/print.css" />

        <!-- FONTS -->
        <link href="//cloud.webtype.com/css/209aeb3a-85f7-4c3e-8a8c-827c1c76e327.css" rel="stylesheet" type="text/css" />

        <!-- MODERNIZR -->
        <script src="/static/js/modernizr.js"></script>
    </head>


    <body class="{% block body_class %}{% endblock %}">

        <!--  BRANDING -->
        <div id="header" role="banner">
            {% if url == "" %}
                <h1 class="banner-logo">Simon Campbell</h1>
            {% else %}
                <p><a class="banner-logo" href="/">Simon Campbell</a></p>
            {% endif %}

            {% include 'components/_navigation/_banner-nav.html' %}
        </div>


        <!--  MAIN CONTENT AREA -->
        {% block content_main %}
            <div class="main-wrapper" role="main">
            </div><!-- // .wrapper__main -->
        {% endblock %}



        <!--  SUPPLEMENTARY CONTENT AREA -->
        {% block content_side %}
            <div class="side-wrapper">
            </div><!-- // .wrapper__side -->
        {% endblock %}



        <!--  FOOTER -->
        <footer role="contentinfo" class="footer-main">
            <section class="footer-main__item">
                <figure>
                    <img src="{{siteUrl}}/static/images/branding/campbell-portrait--small.png" alt="Simon Campbell">
                </figure>
                <h3>About</h3>
                <p>Simon is a musician and producer of Supertone Records. His musical journies over the years have led him to many exciting adventures. <a class="link--reverse" href="/about">Read more &raquo;</a></p>
            </section>


            <section class="footer-main__item">
                <h3>Newsletter</h3>

                <fieldset>
                    <label for="id_newsletter">Sign up for the newsletter below and get the latest updates on tour info, merch sales and album releases.</label>
                    <input class="text-input text-input--secondary" type="email" placeholder="Your email">
                    <button class="btn btn--secondary--on-black-bg" type="submit">Subscribe</button>
                </fieldset>
            </section>


            <section class="footer-main__item">
                <h3>Around the web</h3>
                <nav>
                    <ul class="icon-list">
                        <li class="icon-text icon-text--twitter">
                            <a class="link--reverse" href="http://twitter.com/SimonCampbell">
                               Twitter
                            </a>
                        </li>

                        <li class="icon-text icon-text--youtube">
                            <a class="link--reverse" href="http://www.youtube.com/user/simonjcampbell">
                                Youtube
                            </a>
                        </li>

                        <li class="icon-text icon-text--vimeo">
                            <a class="link--reverse" href="http://vimeo.com/simoncampbell">Vimeo</a>
                        </li>

                        <li class="icon-text icon-text--facebook">
                            <a class="link--reverse" href="https://www.facebook.com/Simon.Campbell.Musician">Facebook</a>
                        </li>
                    </ul>
                </nav>
            </section>


            <section class="site-info footer-main__item">
                <ul class="nav">
                    <li><a class="link--reverse" href="/privacy-policy">Privacy policy </a></li>
                    <li>Supertone Records &copy; {{ "now"|date("Y") }}</li>
                </ul>

                <a class="link--reverse" href="#">Back to top</a>
            </section>

        </footer><!-- //end.footer-main -->

        <!-- JAVASCRIPT -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="/static/js/EDJ.js"></script>

    </body>
</html>
