<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />

        <!-- META -->
            <meta charset="utf-8" />
            <meta name="author" content="Simon Campbell" />
            <meta name="description" content="The blog of the musician and producer Simon Campbell" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>


        <link rel="home" href="{{ siteUrl }}" />
        <!-- <link rel="author" href="ADD SIMON’S GOOGLE+ STUFF HERE" -->


        <!-- ICONS -->

        <!-- RSS -->

        <!-- CSS -->
            <link rel="stylesheet" media="all" type="text/css" href="{{ siteUrl }}/public/static/css/screen.css" />
            <link rel="stylesheet" media="print" type="text/css" href="{{ siteUrl }}/public/static/css/print.css" />

        <!-- FONTS -->

        <!-- MODERNIZR -->
    </head>

    <body class="{% block body_class %}{% endblock %}">

            <div id="header" role="banner">
                <h1>Simon Campbell</h1>
            </div>

            {% include '_navigation/_banner-nav.html' %}


        <div class="main-wrapper" role="main">

            {% block content %}

                <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
                <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>

            {% endblock %}

        </div><!-- // .main-wrapper -->


        <footer role="contentinfo">

            <section>
                <h3>About</h3>
                <p>Simon is a musician and producer of Supertone Records. His musical journies over the years have led him to many exciting adventures. <a href="/about">Read more &raquo;</a></p>
            </section>

            <section>
                <h3>Newsletter</h3>
                <fieldset>
                    <label for="id_newsletter">Sign up for the newsletter below and get the latest updates on tour info, merch sales and album releases.</label>
                    <input type="email" placeholder="Your email">
                    <button type="submit">Subscribe</button>
                </fieldset>
            </section>

            <section>
                <h3>Around the web</h3>
                <nav>
                    <ul>
                        <li><a href="http://twitter.com/SimonCampbell">Twitter</a></li>
                        <li><a href="http://www.youtube.com/user/simonjcampbell">Youtube</a></li>
                        <li><a href="http://viemo.com/simoncampbell">Vimeo</a></li>
                        <li><a href="https://www.facebook.com/Simon.Campbell.Musician">Facebook</a></li>
                    </ul>
                </nav>
            </section>

            <section class="site-info">
                <ul>
                    <li><a href="#">Privacy policy </a></li>
                    <li>Supertone Records &copy; {{ "now"|date("Y") }}</li>
                </ul>

                <a href="#">Back to top</a>
            </section>
        </footer>

        <!-- JAVASCRIPT -->

    </body>
</html>
