{#
 # Homepage template
 # ---------------
 #
 # This template gets loaded whenever someone access http://example.com
 # with no URI, because it’s located in the root of your craft/templates/
 # folder and it’s called index.html. Simple.
 #}


{% extends "_layout" %}

{% block content_main %}

<!-- SIMON DESCRIPTION -->

    <div class="banner--landing">
        <h1 class="banner--landing__title">Simon Campbell</h1>
        {% for image in homepage.bannerImage %}
            <div class="banner--landing__figure" style="background-image: url('{{image.getUrl('homepageBanner')}}');"></div>
        {% endfor %}

        <header class="heading-group heading-group--main banner--landing__content">
            <div class="main-wrapper main-wrapper--full">
                <p class="lede lede--marginless">
                    {{homepage.shortDescription}}
                </p>
            </div>
        </header>
    </div>


    <div class="main-wrapper main-wrapper--full">
       <!-- FEATURED SECTION-->

        {% for post in craft.entries.find({section:'Blog', limit:'3'}) %}
            <section class="item-list item-list--featured">
                <article>
                    <div class="featured__post-content">
                        <header class="heading-group heading-group--marginless featured__heading">

                            <h3><a href="{{post.url}}">{{ post.title }}</a></h3>

                            <div class="meta-info-block meta-info-block--borderless">
                                <time class="meta-info-block__item" datetime="{{post.postDate|date("Y-m-d")}}">{{post.postDate|date("jS F Y")}}</time>

                                {% if post.blogPostTags | length %}
                                <p class="meta-info-block__item">Posted in
                                    {% for tag in post.blogPostTags %}
                                        <a class="category-link" href="/blog/category/{{tag.name | replace({' ': '-'}) }}">
                                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                            {{tag.name}}</a>
                                    {% endfor %}
                                </p>
                                {% endif %}
                            </div><!-- //.meta-info-block -->
                        </header>

                        {% for image in post.blog__image %}
                            <figure class="featured__post-image">
                                <a href="{{post.url}}"><img src="{{image.getUrl('featuredImage')}}"  alt="{{post.title}} - {{entry.heading__sec}} - by Simon Campbell"></a>
                            </figure>
                        {% endfor %}

                        <p>{{ post.shortExtract[:340]|striptags|trim}}&hellip; <a href="{{post.url}}">Read more &raquo;</a></p>

                    </div><!-- //end.featured__post-content -->
                </article>
            </section><!-- //end.item-list -->
        {% endfor %}

    </div><!-- //end.main-wrapper -->

{% endblock %}



{% block content_side %}

    <div class="wrapper">
        <div class="wide-wrapper">
            <section class="homepage-wrapper homepage-wrapper--news">

                <div class="heading-group">
                    <h3><a href="/news">Latest news updates</a></h3>
                </div>

                <ul class="item-list item-list--homepage">
                    {% for news in craft.entries.find({section:'News', limit:'6'}) %}
                        <li class="item-list__item">
                            <div class="heading-group heading-group--marginless">
                                <h5><a href="{{news.url}}">{{news.title}}</a></h5>
                                <div class="meta-info-block meta-info-block--borderless">

                                    <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>
                                </div><!-- //end.meta-info-block -->
                            </div><!-- //end.heading-group -->

                        </li>
                    {% endfor %}
                </ul><!-- .item-list -->
            </section>

            <section class="homepage-wrapper homepage-wrapper--live-shows">
                    {% include 'components/_live-shows.html' %}
            </section>

        </div><!-- //end.wide-wrapper -->

    </div><!-- //end.wrapper -->

{% endblock %}
