{#
 # Homepage template
 # ---------------
 #
 # This template gets loaded whenever someone access http://example.com
 # with no URI, because it’s located in the root of your craft/templates/
 # folder and it’s called index.html. Simple.
 #}

{% extends "_layout" %}

{% block content_main %}

<!-- SIMON DESCRIPTION -->

    <figure class="figure__hero">
        <img src="/assets/images/campbell.jpg" alt="Simon Campbell">
    </figure>

    <header class="heading-group heading-group--main">
        <h1>Simon Campbell</h1>
        <h2>Guitarist, songwriter &amp; music&nbsp;producer</h2>
    </header>

    <div class="main-wrapper main-wrapper--full">

   <!-- FEATURED SECTION-->
    <section class="featured">
        {% include 'components/_featured/_featured-article' %}
    </section>

    <section class="item-list item-list--featured">
        <article class="item-list__item item-list__item--article">
            <header class="heading-group">
                <h3><a href="URL">The TC Analogue 3a</a></h3>
                <div class="meta-info-block meta-info-block--borderless ">
                    <time class="meta-info-block__item">27th July 2013</time>
                     <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </header>
            <p>In my younger and more vulnerable years my father gave me some advice that I’ve been turning over in my mind ever since. “Whenever you feel like criticizing any one,” he told me, “just remember that all the people in this world haven’t had the advantages that you’ve had.” <a href="URL">Read more &raquo;</a></p>
        </article>

        <article class="item-list__item item-list__item--article">
            <header class="heading-group">
                <h3><a href="URL">The TC Analogue 3a</a></h3>
                <div class="meta-info-block meta-info-block--borderless ">
                    <time class="meta-info-block__item">27th July 2013</time>
                    <p class="meta-info-block__item">Posted in
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Life
                        </a>,
                        <a class="category-link" href="URL!">
                            <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                            Health
                        </a>
                    </p>
                </div>
            </header>
            <p>In my younger and more vulnerable years my father gave me some advice that I’ve been turning over in my mind ever since. “Whenever you feel like criticizing any one,” he told me, “just remember that all the people in this world haven’t had the advantages that you’ve had.” <a href="URL">Read more &raquo;</a></p>
        </article>

    </section>

    <section>
        <div class="live-shows-block--home">
            {% include 'components/_live-shows.html' %}
        </div>
    </section>

</div><!-- //end.main-wrapper -->

{% endblock %}



{% block content_side %}

    <div class="side-wrapper side-wrapper--rev side-wrapper--home">

        <h3>Latest news updates</h3>

        {% for news in craft.entries.find({section:'News', limit:'3'}) %}
                <div class="heading-group heading-group--marginless">
                    <h4><a href="{{news.url}}">{{news.title}}</a></h4>

                    <div class="meta-info-block meta-info-block--borderless">

                        <time class="meta-info-block__item" datetime="{{news.postDate|date("Y-m-d")}}">{{news.postDate|date("jS F Y")}}</time>

                        <p class="meta-info-block__item">Posted in
                            <a class="category-link" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Life
                            </a>,
                            <a class="category-link" href="URL!">
                                <span aria-hidden="true" class="icon icon--tag ss ss-tag">tag</span>
                                Health
                            </a>
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </div>

    <div class="main-wrapper main-wrapper--rev">

        <h3>Recent equipment &amp; gear entries</h3>

        <ul class="item-list">
            {% for post in craft.entries.find({section:'Equipment', limit:'3'}) %}
                <li class="item-list__item item-list__item--article">

                    <!-- REQUIRED EQUIPMENT IMAGE -->
                    {% for image in post.equipmentImage %}
                        <figure class="equipment-image">
                            <a href="{{post.url}}">
                                <img src="{{image.url}}">
                            </a>
                        </figure>
                    {% endfor %}

                    <div class="heading-group heading-group--marginless">
                        <h4><a href="{{post.url}}">{{post.title}}</a></h4>
                    </div>

                    <p>{{post.shortExtract}} <a href="URL">Read more »</a></p>

                </li>
            {% endfor %}
        </ul><!-- //end.item-list -->
    </div>
{% endblock %}

